
button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

@layer button {

    /* art:btn */
    .art\:btn {
        padding: var(--base);
        border-radius: var(--base);
        background: var(--white-02);

        &:hover {
            color: var(--white-01);
            background: var(--black-01);
            text-decoration: underline;
        }
    }

    /* art:btn:lg */
    .art\:btn\:base {
        width: 30%;
        max-width: 10rem;
    }

    /* art:btn:lg */
    .art\:btn\:lg {
        width: 50%;
        max-width: 20rem;
    }

    /* art:btn:xl */
    .art\:btn\:xl {
        width: 70%;
        max-width: 30rem;
    }

    /* art:btn:full */
    .art\:btn\:full {
        width: 100%;
    }
}
