/*@import url('modules/art-modules.css');*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --white-01: #FFFFFF;
    --white-02: #F6F5F4;
    --white-03: #EBEBEB;
    --white-rgba: 255, 255, 255;

    --black-01: #000000;
    --black-02: #131416;
    --black-03: #4A4B4D;
    --black-rgba: 0, 0, 0;

    --yellow-01: #FFDE83;
    --yellow-02: #FFBD08;
    --yellow-03: #C08E06;
    --yellow-rgba: 255, 222, 131;

    --green-01: #8FF0A4;
    --green-02: #33D17A;
    --green-03: #26A269;
    --green-rgba: 38, 162, 105;

    --blue-01: #62A0EA;
    --blue-02: #376FE6;
    --blue-03: #1C71D8;
    --blue-rgba: 28, 113, 216;

    --red-01: #ED333B;
    --red-02: #F60000;
    --red-03: #DB1111;
    --red-rgba: 219, 17, 17;

    --txt-black-01: #000000;

}

@media (prefers-color-scheme: dark) {
    :root {
        --white-01: #000000;
        --white-02: #131416;
        --white-03: #4A4B4D;

        --black-01: #FFFFFF;
        --black-02: #F6F5F4;
        --black-03: #EBEBEB;

        --txt-black-01: #FFFFFF;
    }
}

.art-border-solid-black-01\:0\.5\:full {
    border: solid 0.5px var(--black-01);
}.art-bg-white-01 {
    background-color: var(--white-01);
}

.art-bg-white-02 {
    background-color: var(--white-02);
}

.art-bg-white-03 {
    background-color: var(--white-03);
}

.art-bg-black-01 {
    background-color: var(--black-01);
}

.art-bg-black-02 {
    background-color: var(--black-02);
}

.art-bg-black-03 {
    background-color: var(--black-03);
}

.art-bg-yellow-01 {
    background-color: var(--yellow-01);
}

.art-bg-yellow-02 {
    background-color: var(--yellow-02);
}

.art-bg-yellow-03 {
    background-color: var(--yellow-03);
}

.art-bg-green-01 {
    background-color: var(--green-01);
}

.art-bg-green-02 {
    background-color: var(--green-02);
}

.art-bg-green-03 {
    background-color: var(--green-02);
}

.art-bg-blue-01 {
    background-color: var(--blue-01);
}

.art-bg-blue-02 {
    background-color: var(--blue-02);
}

.art-bg-blue-03 {
    background-color: var(--blue-03);
}

.art-bg-red-01 {
    background-color: var(--red-01);
}

.art-bg-red-02 {
    background-color: var(--red-02);
}

.art-bg-red-03 {
    background-color: var(--red-03);
}

/* Font colors:*/

.art-ft-white-01 {
    color: var(--white-01);
}

.art-ft-white-02 {
    color: var(--white-02);
}

.art-ft-white-03 {
    color: var(--white-03);
}

.art-ft-black-01 {
    color: var(--black-01);
}

.art-ft-black-02 {
    color: var(--black-02);
}

.art-ft-black-03 {
    color: var(--black-03);
}

.art-ft-yellow-01 {
    color: var(--yellow-01);
}/* bg hovers:*/

.art-bg-black-01\:hover:hover {
    background-color: var(--black-01);
}

.art-bg-black-02\:hover:hover {
    background-color: var(--black-02);
}

.art-bg-black-03\:hover:hover {
    background-color: var(--black-03);
}

.art-bg-white-01\:hover:hover {
    background-color: var(--white-01);
}

.art-bg-white-02\:hover:hover {
    background-color: var(--white-02);
}

.art-bg-white-03\:hover:hover {
    background-color: var(--white-03);
}

.art-bg-yellow-01\:hover:hover {
    background-color: var(--yellow-01);
}

.art-bg-yellow-02\:hover:hover {
    background-color: var(--yellow-02);
}

.art-bg-yellow-03\:hover:hover {
    background-color: var(--yellow-03);
}

.art-bg-green-01\:hover:hover {
    background-color: var(--green-01);
}

.art-bg-green-02\:hover:hover {
    background-color: var(--green-02);
}

.art-bg-green-03\:hover:hover {
    background-color: var(--green-03);
}

.art-bg-blue-01\:hover:hover {
    background-color: var(--blue-01);
}

.art-bg-blue-03\:hover:hover {
    background-color: var(--blue-03);
}

.art-bg-blue-03\:hover:hover {
    background-color: var(--blue-03);
}

.art-bg-red-01\:hover:hover {
    background-color: var(--red-01);
}

.art-bg-red-02\:hover:hover {
    background-color: var(--red-02);
}

.art-bg-red-03\:hover:hover {
    background-color: var(--red-03);
}/* Fonts hover: */

.art-ft-white-03\:hover:hover {
    color: var(--white-03);
}
.art-bg-white\:10\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.art-bg-white\:20\% {
    /* art-bg-white:20% */
    background-color: rgba(var(--white-rgba), 0.2);
}

.art-bg-white\:30\% {
    /* art-bg-white:30% */
    background-color: rgba(var(--white-rgba), 0.3);
}

.art-bg-white\:40\% {
    /* art-bg-white:40% */
    background-color: rgba(var(--white-rgba), 0.4);
}

.art-bg-white\:50\% {
    /* art-bg-white:50% */
    background-color: rgba(var(--white-rgba), 0.5);
}

.art-bg-black\:10\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.1);
}

.art-bg-black\:20\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.2);
}

.art-bg-black\:30\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.3);
}

.art-bg-black\:40\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.4);
}

.art-bg-black\:50\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.5);
}

.art-bg-yellow\:10\% {
    background-color: rgba(var(--yellow-rgba), 0.1);
}

.art-bg-yellow\:20\% {
    background-color: rgba(var(--yellow-rgba), 0.2);
}

.art-bg-yellow\:30\% {
    background-color: rgba(var(--yellow-rgba), 0.3);
}

.art-bg-yellow\:40\% {
    background-color: rgba(var(--yellow-rgba), 0.4);
}

.art-bg-yellow\:50\% {
    background-color: rgba(var(--yellow-rgba), 0.5);
}

.art-bg-green\:10\% {
    background-color: rgba(var(--green-rgba), 0.1);
}

.art-bg-green\:20\% {
    background-color: rgba(var(--green-rgba), 0.2);
}

.art-bg-green\:30\% {
    background-color: rgba(var(--green-rgba), 0.3);
}

.art-bg-green\:40\% {
    background-color: rgba(var(--green-rgba), 0.4);
}

.art-bg-green\:50\% {
    background-color: rgba(var(--green-rgba), 0.5);
}

.art-bg-blue\:10\% {
    background-color: rgba(var(--blue-rgba), 0.1);
}

.art-bg-blue\:20\% {
    background-color: rgba(var(--blue-rgba), 0.2);
}

.art-bg-blue\:30\% {
    background-color: rgba(var(--blue-rgba), 0.3);
}

.art-bg-blue\:40\% {
    background-color: rgba(var(--blue-rgba), 0.4);
}

.art-bg-blue\:50\% {
    background-color: rgba(var(--blue-rgba), 0.5);
}

.art-bg-red\:10\% {
    background-color: rgba(var(--red-rgba) 0.1);
}

.art-bg-red\:20\% {
    background-color: rgba(var(--red-rgba) 0.2);
}

.art-bg-red\:30\% {
    background-color: rgba(var(--red-rgba) 0.3);
}

.art-bg-red\:40\% {
    background-color: rgba(var(--red-rgba) 0.4);
}

.art-bg-red\:50\% {
    background-color: rgba(var(--red-rgba) 0.5);
}