:root {
    --white-01: #FFFFFF;
    --white-02: #F6F5F4;
    --white-03: #EBEBEB;
    --white-rgba: 255, 255, 255;
    
    --black-01: #4A4B4D;
    --black-02: #131416;
    --black-03: #000000;
    --black-rgba: 0, 0, 0;

    --yellow-01: #FFDE83;
    --yellow-02: #FFBD08;
    --yellow-03: #C08E06;
    --yellow-rgba: 255, 222, 131;
    
    --green-01: #8FF0A4;
    --green-02: #33D17A;
    --green-03: #26A269;
    --green-rgba: 38, 162, 105;

    --blue-01: #62A0EA;
    --blue-02: #376FE6;
    --blue-03: #1C71D8;
    --blue-rgba: 28, 113, 216;

    --txt-black-01: #000000;

}

@media (prefers-color-scheme: dark) {
    :root {
        --white-01: #4A4B4D;
        --white-02: #131416;
        --white-03: #000000;

        --black-01: #FFFFFF;
        --black-02: #F6F5F4;
        --black-03: #EBEBEB;

        --txt-black-01: #FFFFFF;
    }
}

.art-bg-white-01 {
    background-color: var(--white-01);
}

.art-bg-white-02 {
    background-color: var(--white-02);
}

.art-bg-white-03 {
    background-color: var(--white-03);
}

.art-bg-white\:10\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.art-bg-white\:20\% {
    /* art-bg-white:20% */
    background-color: rgba(var(--white-rgba), 0.2);
}

.art-bg-white\:30\% {
    /* art-bg-white:30% */
    background-color: rgba(var(--white-rgba), 0.3);
}

.art-bg-white\:40\% {
    /* art-bg-white:40% */
    background-color: rgba(var(--white-rgba), 0.4);
}

.art-bg-white\:50\% {
    /* art-bg-white:50% */
    background-color: rgba(var(--white-rgba), 0.5);
}

.art-bg-black-01 {
    background-color: var(--black-01);
}

.art-bg-black-02 {
    background-color: var(--black-02);
}

.art-bg-black-03 {
    background-color: var(--black-03);
}

.art-bg-black\:10\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.1);
}

.art-bg-black\:20\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.2);
}

.art-bg-black\:30\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.3);
}

.art-bg-black\:40\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.4);
}

.art-bg-black\:50\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--black-rgba) 0.5);
}

.art-bg-yellow-01 {
    background-color: var(--yellow-01);
}

.art-bg-yellow-02 {
    background-color: var(--yellow-02);
}

.art-bg-yellow-03 {
    background-color: var(--yellow-03);
}

.art-bg-yellow\:10\% {
    background-color: rgba(var(--yellow-rgba), 0.1);
}

.art-bg-yellow\:20\% {
    background-color: rgba(var(--yellow-rgba), 0.2);
}

.art-bg-yellow\:30\% {
    background-color: rgba(var(--yellow-rgba), 0.3);
}

.art-bg-yellow\:40\% {
    background-color: rgba(var(--yellow-rgba), 0.4);
}

.art-bg-yellow\:50\% {
    background-color: rgba(var(--yellow-rgba), 0.5);
}

.art-bg-green-01 {
    background-color: var(--green-01);
}

.art-bg-green-02 {
    background-color: var(--green-02);
}

.art-bg-green-03 {
    background-color: var(--green-02);
}

.art-bg-green\:10\% {
    background-color: rgba(var(--green-rgba), 0.1);
}

.art-bg-green\:20\% {
    background-color: rgba(var(--green-rgba), 0.2);
}

.art-bg-green\:30\% {
    background-color: rgba(var(--green-rgba), 0.3);
}

.art-bg-green\:40\% {
    background-color: rgba(var(--green-rgba), 0.4);
}

.art-bg-green\:50\% {
    background-color: rgba(var(--green-rgba), 0.5);
}

.art-bg-blue-01 {
    background-color: var(--blue-01);
}

.art-bg-blue-02 {
    background-color: var(--blue-02);
}

.art-bg-blue-03 {
    background-color: var(--blue-03);
}

.art-bg-blue\:10\% {
    background-color: rgba(var(--blue-rgba), 0.1);
}

.art-bg-blue\:20\% {
    background-color: rgba(var(--blue-rgba), 0.2);
}

.art-bg-blue\:30\% {
    background-color: rgba(var(--blue-rgba), 0.3);
}

.art-bg-blue\:40\% {
    background-color: rgba(var(--blue-rgba), 0.4);
}

.art-bg-blue\:50\% {
    background-color: rgba(var(--blue-rgba), 0.5);
}