:root {
    --bg-white-01: #FFFFFF;
    --bg-white-02: #F6F5F4;
    --bg-white-03: #EBEBEB;
    
    --bg-black-01: #4A4B4D;
    --bg-black-02: #131416;
    --bg-black-03: #000000;
    
    --txt-black-01: 0, 0, 0;

    --white-rgba: 255, 255, 255;
    --black-rgba: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-white-01: #4A4B4D;
        --bg-white-02: #131416;
        --bg-white-03: #000000;

        --bg-black-01: #FFFFFF;
        --bg-black-02: #F6F5F4;
        --bg-black-03: #EBEBEB;

        --txt-black-01: 255, 255, 255;
    }
}

.art-bg-white-01 {
    background-color: var(--bg-white-01);
}

.art-bg-white-02 {
    background-color: var(--bg-white-02);
}

/* 
As cores com opacidade são baseadas em cores fixas, não em cores armazenadas nas variáveis para não sofrerem com a mudança de themas.
*/

.art-bg-white\:10\% {
    /* art-bg-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.art-bg-white\:20\% {
    /* art-bg-white:20% */
    background-color: rgba(var(--white-rgba), 0.2);
}

.art-bg-white\:30\% {
    /* art-bg-white:30% */
    background-color: rgba(var(--white-rgba), 0.3);
}

.art-bg-white\:40\% {
    /* art-bg-white:40% */
    background-color: rgba(var(--white-rgba), 0.4);
}

.art-bg-white\:50\% {
    /* art-bg-white:50% */
    background-color: rgba(var(--white-rgba), 0.5);
}

.art-bg-black-01 {
    background-color: var(--bg-black-01);
}