/* =============================================== ease-out =============================================== */

/* art:ease-out:instant */
.art\:ease-out\:instant {
    --transition-property: all;
    --transition-duration: var(--instant);
    --transition-timing-function: ease-out;
}

/* art:ease-out:quick */
.art\:ease-out\:quick {
    --transition-property: all;
    --transition-duration: var(--quick);
    --transition-timing-function: ease-out;
}

/* art:ease-out:smooth */
.art\:ease-out\:smooth {
    --transition-property: all;
    --transition-duration: var(--smooth);
    --transition-timing-function: ease-out;
}

/* art:ease-out:relaxed */
.art\:ease-out\:relaxed {
    --transition-property: all;
    --transition-duration: var(--relaxed);
    --transition-timing-function: ease-out;
}

/* art:ease-out:slow */
.art\:ease-out\:slow {
    --transition-property: all;
    --transition-duration: var(--slow);
    --transition-timing-function: ease-out;
}
