/* =============================================== ease-in-out =============================================== */

/* art:ease-in-out:instant */
.art\:ease-in-out\:instant {
    --transition-property: all;
    --transition-duration: var(--instant);
    --transition-timing-function: ease-in-out;
}

/* art:ease-in-out:quick */
.art\:ease-in-out\:quick {
    --transition-property: all;
    --transition-duration: var(--quick);
    --transition-timing-function: ease-in-out;
}

/* art:ease-in-out:smooth */
.art\:ease-in-out\:smooth {
    --transition-property: all;
    --transition-duration: var(--smooth);
    --transition-timing-function: ease-in-out;
}

/* art:ease-in-out:relaxed */
.art\:ease-in-out\:relaxed {
    --transition-property: all;
    --transition-duration: var(--relaxed);
    --transition-timing-function: ease-in-out;
}

/* art:ease-in-out:slow */
.art\:ease-in-out\:slow {
    --transition-property: all;
    --transition-duration: var(--slow);
    --transition-timing-function: ease-in-out;
}
