/* =============================================== scroll-bar =============================================== */

/* art:scrollbar:none  */
.art\:scrollbar\:none {
    scrollbar-width: none;
}

/* art:scrollbar:thin  */
.art\:scrollbar\:thin {
    scrollbar-width: thin;
}

/* art:scrollbar:thin  */
.art\:scrollbar\:default {
    scrollbar-width: auto;
}

/* art:scrollbar:white-01 */
.art\:scrollbar\:white-01 {
    scrollbar-color: var(--white-01) var(--white-01);
}
