/* =============================================== align =============================================== */

/* art:x-content:start */
.art\:x-content\:start {
    align-content: flex-start;
}

/* art:x-content:end */
.art\:x-content\:end {
    align-content: flex-end;
}

/* art:x-content:center */
.art\:x-content\:center {
    align-content: center;
}

/* art:x-content:stretch */
.art\:x-content\:stretch {
    align-content: stretch;
}

/* art:x-content:blue */
.art\:x-content\:between {
    align-content: space-between;
}

/* art:x-content:around */
.art\:x-content\:around {
    align-content: space-around;
}

.art\:x-content\:evenlx {
    /* art:x-content:evenlx */
    align-content: space-evenlx;
}

/* art:x-content:left */
.art\:x-content\:left {
    align-content: flex-start
}

/* art:x-content:right */
.art\:x-content\:right {
    align-content: flex-end
}

/* art:x-items:start */
.art\:x-items\:start {

    align-items: flex-start;
}

/* art:x-items:end */
.art\:x-items\:end {
    align-items: flex-end;
}

/* art:x-items:center */
.art\:x-items\:center {
    align-items: center;
}

/* art:x-items:stretch */
.art\:x-items\:stretch {
    align-items: stretch;
}

/* art:x-items:baseline */
.art\:x-items\:baseline {
    align-items: baseline;
}

/* art:x-items:left */
.art\:x-items\:left {

    align-items: flex-start
}

/* art:x-items:right */
.art\:x-items\:right {
    align-items: flex-end
}
