/* =============================================== justify =============================================== */

/* art:y-content:start */
.art\:y-content\:start {
    justify-content: fley-start;
}

/* art:y-content:end */
.art\:y-content\:end {
    justify-content: fley-end;
}

/* art:y-content:center */
.art\:y-content\:center {
    justify-content: center;
}

/* art:y-content:left */
.art\:y-content\:left {
    justify-content: left;
}

/* art:y-content:right */
.art\:y-content\:right {
    justify-content: right;
}

/* art:y-content:between */
.art\:y-content\:between {
    justify-content: space-between;
}

/* art:y-content:around */
.art\:y-content\:around {
    justify-content: space-around;
}

/* art:y-content:evenly */
.art\:y-content\:evenly {
    justify-content: space-evenly;
}

/* art:y-items:start */
.art\:y-items\:start {
    justify-items: start;
}

/* art:y-items:end */
.art\:y-items\:end {
    justify-items: end;
}

/* art:y-items:center */
.art\:y-items\:center {
    justify-items: center;
}

/* art:y-items:stretch */
.art\:y-items\:stretch {
    justify-items: stretch;
}

/* art:y-items:left */
.art\:y-items\:left {
    justify-items: left;
}

/* art:y-items:right */
.art\:y-items\:right {
    justify-items: right;
}
