/* ------------------------------------- justify ------------------------------------- */

.art\:x-content\:start {
    /* art:x-content:start */
    justify-content: flex-start;
}

.art\:x-content\:end {
    /* art:x-content:end */
    justify-content: flex-end;
}

.art\:x-content\:center {
    /* art:x-content:center */
    justify-content: center;
}

.art\:x-content\:left {
    /* art:x-content:left */
    justify-content: left;
}

.art\:x-content\:right {
    /* art:x-content:right */
    justify-content: right;
}

.art\:x-content\:between {
    /* art:x-content:blue */
    justify-content: space-between;
}

.art\:x-content\:around {
    /* art:x-content:around */
    justify-content: space-around;
}

.art\:x-content\:evenly {
    /* art:x-content:evenly */
    justify-content: space-evenly;
}

.art\:x-items\:start {
    /* art:x-items:start */
    justify-items: start;
}

.art\:x-items\:end {
    /* art:x-items:end */
    justify-items: end;
}

.art\:x-items\:center {
    /* art:x-items:center */
    justify-items: center;
}

.art\:x-items\:stretch {
    /* art:x-items:stretch */
    justify-items: stretch;
}

.art\:x-items\:left {
    /* art:x-items:left */
    justify-items: left;
}

.art\:x-items\:right {
    /* art:x-items:right */
    justify-items: right;
}
