/* ------------------------------------- fonts color hovers: ------------------------------------- */

/* Black */
.art\:hover\:font\:borderlack-01:hover {
    /* .art:hover:font:borderlack-01 */
    color: var(--black-01);
}

.art\:hover\:font\:borderlack-02:hover {
    /* .art:hover:font:borderlack-02 */
    color: var(--black-02);
}

.art\:hover\:font\:borderlack-03:hover {
    /* .art:hover:font:borderlack-03 */
    color: var(--black-03);
}

.art\:hover\:font\:borderlack-04:hover {
    /* .art:hover:font:borderlack-04 */
    color: var(--black-04);
}

.art\:hover\:font\:borderlack\:10\%:hover {
    /* .art:hover:font:borderlack:10% */
    color: rgb(var(--black-rgb), 0.1);
}

.art\:hover\:font\:borderlack\:20\%:hover {
    /* .art:hover:font:borderlack:20% */
    color: rgb(var(--black-rgb), 0.2);
}

.art\:hover\:font\:borderlack\:30\%:hover {
    /* .art:hover:font:borderlack:30% */
    color: rgb(var(--black-rgb), 0.3);
}

.art\:hover\:font\:borderlack\:40\%:hover {
    /* .art:hover:font:borderlack:40% */
    color: rgb(var(--black-rgb), 0.4);
}

.art\:hover\:font\:borderlack\:50\%:hover {
    /* .art:hover:font:borderlack:50% */
    color: rgb(var(--black-rgb), 0.5);
}

/* White */
.art\:hover\:font\:white-01:hover {
    /* .art:hover:font:white-01 */
    color: var(--white-01);
}

.art\:hover\:font\:white-02:hover {
    /* .art:hover:font:white-02 */
    color: var(--white-02);
}

.art\:hover\:font\:white-03:hover {
    /* .art:hover:font:white-03 */
    color: var(--white-03);
}

.art\:hover\:font\:white-04:hover {
    /* .art:hover:font:white-04 */
    color: var(--white-04);
}

.art\:hover\:font\:white\:10\%:hover {
    /* .art:hover:font:white:10% */
    color: rgb(var(--white-rgb), 0.1);
}

.art\:hover\:font\:white\:20\%:hover {
    /* .art:hover:font:white:20% */
    color: rgb(var(--white-rgb), 0.2);
}

.art\:hover\:font\:white\:30\%:hover {
    /* .art:hover:font:white:30% */
    color: rgb(var(--white-rgb), 0.3);
}

.art\:hover\:font\:white\:40\%:hover {
    /* .art:hover:font:white:40% */
    color: rgb(var(--white-rgb), 0.4);
}

.art\:hover\:font\:white\:50\%:hover {
    /* .art:hover:font:white:50% */
    color: rgb(var(--white-rgb), 0.5);
}

/* Yellow */
.art\:hover\:font\:yellow-01:hover {
    /* .art:hover:font:yellow-01 */
    color: var(--yellow-01);
}

.art\:hover\:font\:yellow-02:hover {
    /* .art:hover:font:yellow-02 */
    color: var(--yellow-02);
}

.art\:hover\:font\:yellow-03:hover {
    /* .art:hover:font:yellow-03 */
    color: var(--yellow-03);
}

.art\:hover\:font\:yellow-04:hover {
    /* .art:hover:font:yellow-04 */
    color: var(--yellow-04);
}

.art\:hover\:font\:yellow\:10\%:hover {
    /* .art:hover:font:yellow:10% */
    color: rgb(var(--yellow-rgb), 0.1);
}

.art\:hover\:font\:yellow\:20\%:hover {
    /* .art:hover:font:yellow:20% */
    color: rgb(var(--yellow-rgb), 0.2);
}

.art\:hover\:font\:yellow\:30\%:hover {
    /* .art:hover:font:yellow:30% */
    color: rgb(var(--yellow-rgb), 0.3);
}

.art\:hover\:font\:yellow\:40\%:hover {
    /* .art:hover:font:yellow:40% */
    color: rgb(var(--yellow-rgb), 0.4);
}

.art\:hover\:font\:yellow\:50\%:hover {
    /* .art:hover:font:yellow:50% */
    color: rgb(var(--yellow-rgb), 0.5);
}

/* Orange */
.art\:hover\:font\:orange-01:hover {
    /* .art:hover:font:orange-01 */
    color: var(--orange-01);
}

.art\:hover\:font\:orange-02:hover {
    /* .art:hover:font:orange-02 */
    color: var(--orange-02);
}

.art\:hover\:font\:orange-03:hover {
    /* .art:hover:font:orange-03 */
    color: var(--orange-03);
}

.art\:hover\:font\:orange-04:hover {
    /* .art:hover:font:orange-04 */
    color: var(--orange-04);
}

.art\:hover\:font\:orange\:10\%:hover {
    /* .art:hover:font:orange:10% */
    color: rgb(var(--orange-rgb), 0.1);
}

.art\:hover\:font\:orange\:20\%:hover {
    /* .art:hover:font:orange:20% */
    color: rgb(var(--orange-rgb), 0.2);
}

.art\:hover\:font\:orange\:30\%:hover {
    /* .art:hover:font:orange:30% */
    color: rgb(var(--orange-rgb), 0.3);
}

.art\:hover\:font\:orange\:40\%:hover {
    /* .art:hover:font:orange:40% */
    color: rgb(var(--orange-rgb), 0.4);
}

.art\:hover\:font\:orange\:50\%:hover {
    /* .art:hover:font:orange:50% */
    color: rgb(var(--orange-rgb), 0.5);
}

/* Red */
.art\:hover\:font\:red-01:hover {
    /* .art:hover:font:red-01 */
    color: var(--red-01);
}

.art\:hover\:font\:red-02:hover {
    /* .art:hover:font:red-02 */
    color: var(--red-02);
}

.art\:hover\:font\:red-03:hover {
    /* .art:hover:font:red-03 */
    color: var(--red-03);
}

.art\:hover\:font\:red-04:hover {
    /* .art:hover:font:red-04 */
    color: var(--red-04);
}

.art\:hover\:font\:red\:10\%:hover {
    /* .art:hover:font:red:10% */
    color: rgb(var(--red-rgb), 0.1);
}

.art\:hover\:font\:red\:20\%:hover {
    /* .art:hover:font:red:20% */
    color: rgb(var(--red-rgb), 0.2);
}

.art\:hover\:font\:red\:30\%:hover {
    /* .art:hover:font:red:30% */
    color: rgb(var(--red-rgb), 0.3);
}

.art\:hover\:font\:red\:40\%:hover {
    /* .art:hover:font:red:40% */
    color: rgb(var(--red-rgb), 0.4);
}

.art\:hover\:font\:red\:50\%:hover {
    /* .art:hover:font:red:50% */
    color: rgb(var(--red-rgb), 0.5);
}

/* Blue */
.art\:hover\:font\:borderlue-01:hover {
    /* .art:hover:font:borderlue-01 */
    color: var(--blue-01);
}

.art\:hover\:font\:borderlue-02:hover {
    /* .art:hover:font:borderlue-02 */
    color: var(--blue-02);
}

.art\:hover\:font\:borderlue-03:hover {
    /* .art:hover:font:borderlue-03 */
    color: var(--blue-03);
}

.art\:hover\:font\:borderlue-04:hover {
    /* .art:hover:font:borderlue-04 */
    color: var(--blue-04);
}

.art\:hover\:font\:borderlue\:10\%:hover {
    /* .art:hover:font:borderlue:10% */
    color: rgb(var(--blue-rgb), 0.1);
}

.art\:hover\:font\:borderlue\:20\%:hover {
    /* .art:hover:font:borderlue:20% */
    color: rgb(var(--blue-rgb), 0.2);
}

.art\:hover\:font\:borderlue\:30\%:hover {
    /* .art:hover:font:borderlue:30% */
    color: rgb(var(--blue-rgb), 0.3);
}

.art\:hover\:font\:borderlue\:40\%:hover {
    /* .art:hover:font:borderlue:40% */
    color: rgb(var(--blue-rgb), 0.4);
}

.art\:hover\:font\:borderlue\:50\%:hover {
    /* .art:hover:font:borderlue:50% */
    color: rgb(var(--blue-rgb), 0.5);
}

/* Green */
.art\:hover\:font\:green-01:hover {
    /* .art:hover:font:green-01 */
    color: var(--green-01);
}

.art\:hover\:font\:green-02:hover {
    /* .art:hover:font:green-02 */
    color: var(--green-02);
}

.art\:hover\:font\:green-03:hover {
    /* .art:hover:font:green-03 */
    color: var(--green-03);
}

.art\:hover\:font\:green-04:hover {
    /* .art:hover:font:green-04 */
    color: var(--green-04);
}

.art\:hover\:font\:green\:10\%:hover {
    /* .art:hover:font:green:10% */
    color: rgb(var(--green-rgb), 0.1);
}

.art\:hover\:font\:green\:20\%:hover {
    /* .art:hover:font:green:20% */
    color: rgb(var(--green-rgb), 0.2);
}

.art\:hover\:font\:green\:30\%:hover {
    /* .art:hover:font:green:30% */
    color: rgb(var(--green-rgb), 0.3);
}

.art\:hover\:font\:green\:40\%:hover {
    /* .art:hover:font:green:40% */
    color: rgb(var(--green-rgb), 0.4);
}

.art\:hover\:font\:green\:50\%:hover {
    /* .art:hover:font:green:50% */
    color: rgb(var(--green-rgb), 0.5);
}

/* Purple */
.art\:hover\:font\:purple-01:hover {
    /* .art:hover:font:purple-01 */
    color: var(--purple-01);
}

.art\:hover\:font\:purple-02:hover {
    /* .art:hover:font:purple-02 */
    color: var(--purple-02);
}

.art\:hover\:font\:purple-03:hover {
    /* .art:hover:font:purple-03 */
    color: var(--purple-03);
}

.art\:hover\:font\:purple-04:hover {
    /* .art:hover:font:purple-04 */
    color: var(--purple-04);
}

.art\:hover\:font\:purple\:10\%:hover {
    /* .art:hover:font:purple:10% */
    color: rgb(var(--purple-rgb), 0.1);
}

.art\:hover\:font\:purple\:20\%:hover {
    /* .art:hover:font:purple:20% */
    color: rgb(var(--purple-rgb), 0.2);
}

.art\:hover\:font\:purple\:30\%:hover {
    /* .art:hover:font:purple:30% */
    color: rgb(var(--purple-rgb), 0.3);
}

.art\:hover\:font\:purple\:40\%:hover {
    /* .art:hover:font:purple:40% */
    color: rgb(var(--purple-rgb), 0.4);
}

.art\:hover\:font\:purple\:50\%:hover {
    /* .art:hover:font:purple:50% */
    color: rgb(var(--purple-rgb), 0.5);
}
