/* ------------------------------------- font colors: ------------------------------------- */

.art\:font-color\:white-01 {
    /* art:font-color:white-01 */
    color: var(--white-01);
}

.art\:font-color\:white-02 {
    /* art:font-color:white-02 */
    color: var(--white-02);
}

.art\:font-color\:white-03 {
    /* art:font-color:white-03 */
    color: var(--white-03);
}

.art\:font-color\:black-01 {
    /* art:font-color:black-01 */
    color: var(--black-01);
}

.art\:font-color\:black-02 {
    /* art:font-color:black-02 */
    color: var(--black-02);
}

.art\:font-color\:black-03 {
    /* art:font-color:black-03 */
    color: var(--black-03);
}

.art\:font-color\:yellow-01 {
    /* art:font-color:yellow-01 */
    color: var(--yellow-01);
}

.art\:font-color\:yellow-02 {
    /* art:font-color:yellow-02 */
    color: var(--yellow-02);
}

.art\:font-color\:yellow-03 {
    /* art:font-color:yellow-03 */
    color: var(--yellow-03);
}

.art\:font-color\:green-01 {
    /* art:font-color:green-01 */
    color: var(--green-01);
}

.art\:font-color\:green-02 {
    /* art:font-color:green-02 */
    color: var(--green-02);
}

.art\:font-color\:green-03 {
    /* art:font-color:green-03 */
    color: var(--green-03);
}

.art\:font-color\:blue-01 {
    /* art:font-color:blue-01 */
    color: var(--blue-01);
}

.art\:font-color\:blue-02 {
    /* art:font-color:blue-02 */
    color: var(--blue-03);
}

.art\:font-color\:blue-3 {
    /* art:font-color:blue-03 */
    color: var(--blue-03);
}

.art\:font-color\:red-01 {
    /* art:font-color:red-01 */
    color: var(--red-01);
}

.art\:font-color\:red-02 {
    /* art:font-color:red-02 */
    color: var(--red-02);
}

.art\:font-color\:red-03 {
    /* art:font-color:red-01 */
    color: var(--red-03);
}