/* ------------------------------------- text decoration: ------------------------------------- */

.art\:underline {
    /* art:underline */
    text-decoration: underline;
}

.art\:hover\:underline:hover {
    /* art:hover:underline */
    text-decoration: underline;
}

.art\:select\:none {
    /* art:select:none */
    user-select: none;
}
