/* ------------------------------------- font weight: ------------------------------------- */

.art\:font\:medium {
    /* art:font:medium */
    font-weight: 500;
}

.art\:font\:semibold {
    /* art:font:semibold */
    font-weight: 600;
}

.art\:font\:bold {
    /* art:font:bold */
    font-weight: 700;
}
