/* ------------------------------------- font style: ------------------------------------- */

.art\:font\:medium {
    /* art:font:medium */
    font-weight: 500;
}

.art\:font\:semibold {
    /* art:font:semibold */
    font-weight: 600;
}

.art\:font\:borderold {
    /* art:font:borderold */
    font-weight: 700;
}

.art\:font\:capitalize {
    /* art:font:capitalize  */
    text-transform: capitalize;
}
