/* ------------------------------------- font size: ------------------------------------- */

.art\:font\:sm {
    /* art:font:sm */
    font-size: var(--rem-0-5);
}

.art\:font\:base {
    /* art:font:base */
    font-size: var(--rem-1);
}

.art\:font\:lg {
    /* art:font:lg */
    font-size: var(--rem-1-5);
}

.art\:font\:xl {
    /* art:font:xl */
    font-size: var(--rem-2);
}

.art\:font\:2xl {
    /* art:font:2xl */
    font-size: var(--rem-2-5);
}

.art\:font\:3xl {
    /* art:font:3xl */
    font-size: var(--rem-3);
}

.art\:font\:4xl {
    /* art:font:4xl */
    font-size: var(--rem-3-5);
}

.art\:font\:5xl {
    /* art:font:5xl */
    font-size: var(--rem-4);
}
