/* ------------------------------------- fonts color hovers: ------------------------------------- */

.art\:hover\:ft\:white-01:hover {
    /* .art:hover:ft:white-01 */
    color: var(--white-01);
}

.art\:hover\:ft\:white-02:hover {
    /* .art:hover:ft:white-02 */
    color: var(--white-02);
}

.art\:hover\:ft\:white-03:hover {
    /* .art:hover:ft:white-02 */
    color: var(--white-03);
}

.art\:hover\:ft\:black-01:hover {
    /* .art:hover:ft:black-01 */
    color: var(--black-01);
}

.art\:hover\:ft\:black-02:hover {
    /* .art:hover:ft:black-02 */
    color: var(--black-02);
}

.art\:hover\:ft\:black-03:hover {
    /* .art:hover:ft:black-03 */
    color: var(--black-03);
}

.art\:hover\:ft\:yellow-01:hover {
    /* .art:hover:ft:yellow-01 */
    color: var(--yellow-01);
}

.art\:hover\:ft\:yellow-02:hover {
    /* .art:hover:ft:yellow-02 */
    color: var(--yellow-02);
}

.art\:hover\:ft\:yellow-03:hover {
    /* .art:hover:ft:yellow-03 */
    color: var(--yellow-03);
}

.art\:hover\:ft\:green-01:hover {
    /* .art:hover:ft:green-01 */
    color: var(--green-01);
}

.art\:hover\:ft\:green-02:hover {
    /* .art:hover:ft:green-02 */
    color: var(--green-02);
}

.art\:hover\:ft\:green-03:hover {
    /* .art:hover:ft:green-03 */
    color: var(--green-03);
}

.art\:hover\:ft\:blue-01:hover {
    /* .art:hover:ft:blue-01 */
    color: var(--blue-01);
}

.art\:hover\:ft\:blue-02:hover {
    /* .art:hover:ft:blue-02 */
    color: var(--blue-02);
}

.art\:hover\:ft\:blue-03:hover {
    /* .art:hover:ft:blue-03 */
    color: var(--blue-03);
}

.art\:hover\:ft\:red-01:hover {
    /* .art:hover:ft:red-01 */
    color: var(--red-01);
}

.art\:hover\:ft\:red-02:hover {
    /* .art:hover:ft:red-02 */
    color: var(--red-02);
}

.art\:hover\:ft\:red-03:hover {
    /* .art:hover:ft:red-03 */
    color: var(--red-03);
}
