@layer  {
    
}
.art\:fixed {
    /* art:fixed */
    position: fixed;
}

.art\:absolute {
    /* art:absolute */
    position: absolute;
}

.art\:relative {
    /* art:relative */
    position: relative;
}

.art\:static {
    /* art:static */
    position: static;
}

.art\:sticky {
    /* art:sticky */
    position: sticky;
}
