/* bg hovers:*/

.art-bg-black-01\:hover:hover {
    background-color: var(--black-01);
}

.art-bg-black-02\:hover:hover {
    background-color: var(--black-02);
}

.art-bg-black-03\:hover:hover {
    background-color: var(--black-03);
}

.art-bg-white-01\:hover:hover {
    background-color: var(--white-01);
}

.art-bg-white-02\:hover:hover {
    background-color: var(--white-02);
}

.art-bg-white-03\:hover:hover {
    background-color: var(--white-03);
}

.art-bg-yellow-01\:hover:hover {
    background-color: var(--yellow-01);
}

.art-bg-yellow-02\:hover:hover {
    background-color: var(--yellow-02);
}

.art-bg-yellow-03\:hover:hover {
    background-color: var(--yellow-03);
}

.art-bg-green-01\:hover:hover {
    background-color: var(--green-01);
}

.art-bg-green-02\:hover:hover {
    background-color: var(--green-02);
}

.art-bg-green-03\:hover:hover {
    background-color: var(--green-03);
}

.art-bg-blue-01\:hover:hover {
    background-color: var(--blue-01);
}

.art-bg-blue-03\:hover:hover {
    background-color: var(--blue-03);
}

.art-bg-blue-03\:hover:hover {
    background-color: var(--blue-03);
}

.art-bg-red-01\:hover:hover {
    background-color: var(--red-01);
}

.art-bg-red-02\:hover:hover {
    background-color: var(--red-02);
}

.art-bg-red-03\:hover:hover {
    background-color: var(--red-03);
}

.art-bg-white\:10\%\:hover:hover {
    /* art-bg-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.art-bg-white\:20\%\:hover:hover {
    /* art-bg-white:10%:hover */
    background-color: rgba(var(--white-rgba) 0.2);
}

.art-bg-white\:30\%\:hover:hover {
    /* art-bg-white:30%:hover */
    background-color: rgba(var(--white-rgba) 0.3);
}

.art-bg-white\:40\%\:hover:hover {
    /* art-bg-white:40%:hover */
    background-color: rgba(var(--white-rgba) 0.4);
}

.art-bg-white\:50\%\:hover:hover {
    /* art-bg-white:50%:hover */
    background-color: rgba(var(--white-rgba) 0.5);
}

