/* bg hovers:*/

.hover\:art-bg\:black-01:hover {
    background-color: var(--black-01);
}

.hover\:art-bg\:black-02:hover {
    background-color: var(--black-02);
}

.hover\:art-bg\:black-03:hover {
    background-color: var(--black-03);
}

.hover\:art-bg\:white-01:hover {
    background-color: var(--white-01);
}

.hover\:art-bg\:white-02:hover {
    background-color: var(--white-02);
}

.hover\:art-bg\:white-03:hover {
    background-color: var(--white-03);
}

.hover\:art-bg\:yellow-01:hover {
    background-color: var(--yellow-01);
}

.hover\:art-bg\:yellow-02:hover {
    background-color: var(--yellow-02);
}

.hover\:art-bg\:yellow-03:hover {
    background-color: var(--yellow-03);
}

.hover\:art-bg\:green-01:hover {
    background-color: var(--green-01);
}

.hover\:art-bg\:green-02:hover {
    background-color: var(--green-02);
}

.hover\:art-bg\:green-03:hover {
    background-color: var(--green-03);
}

.hover\:art-bg\:blue-01:hover {
    background-color: var(--blue-01);
}

.hover\:art-bg\:blue-03:hover {
    background-color: var(--blue-03);
}

.hover\:art-bg\:blue-03:hover {
    background-color: var(--blue-03);
}

.hover\:art-bg\:red-01:hover {
    background-color: var(--red-01);
}

.hover\:art-bg\:red-02:hover {
    background-color: var(--red-02);
}

.hover\:art-bg\:red-03:hover {
    background-color: var(--red-03);
}

.hover\:art-bg\:white\:10\%:hover {
    /* hover:art-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.hover\:art-bg\:white\:20\%:hover {
    /* hover:art-white:10% */
    background-color: rgba(var(--white-rgba) 0.2);
}

.hover\:art-bg\:white\:30\%:hover {
    /* hover:art-white:30% */
    background-color: rgba(var(--white-rgba) 0.3);
}

.hover\:art-bg\:white\:40\%:hover {
    /* hover:art-white:40% */
    background-color: rgba(var(--white-rgba) 0.4);
}

.hover\:art-bg\:white\:50\%:hover {
    /* hover:art-white:50% */
    background-color: rgba(var(--white-rgba) 0.5);
}

.hover\:art-bg\:white\:10\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.hover\:art-bg\:white\:20\% {
    /* hover:art-white:20% */
    background-color: rgba(var(--white-rgba), 0.2);
}

.hover\:art-bg\:white\:30\% {
    /* hover:art-white:30% */
    background-color: rgba(var(--white-rgba), 0.3);
}

.hover\:art-bg\:white\:40\% {
    /* hover:art-white:40% */
    background-color: rgba(var(--white-rgba), 0.4);
}

.hover\:art-bg\:white\:50\% {
    /* hover:art-white:50% */
    background-color: rgba(var(--white-rgba), 0.5);
}

.hover\:art-bg\:black\:10\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.1);
}

.hover\:art-bg\:black\:20\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.2);
}

.hover\:art-bg\:black\:30\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.3);
}

.hover\:art-bg\:black\:40\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.4);
}

.hover\:art-bg\:black\:50\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.5);
}

.hover\:art-bg\:yellow\:10\% {
    background-color: rgba(var(--yellow-rgba), 0.1);
}

.hover\:art-bg\:yellow\:20\% {
    background-color: rgba(var(--yellow-rgba), 0.2);
}

.hover\:art-bg\:yellow\:30\% {
    background-color: rgba(var(--yellow-rgba), 0.3);
}

.hover\:art-bg\:yellow\:40\% {
    background-color: rgba(var(--yellow-rgba), 0.4);
}

.hover\:art-bg\:yellow\:50\% {
    background-color: rgba(var(--yellow-rgba), 0.5);
}

.hover\:art-bg\:green\:10\% {
    background-color: rgba(var(--green-rgba), 0.1);
}

.hover\:art-bg\:green\:20\% {
    background-color: rgba(var(--green-rgba), 0.2);
}

.hover\:art-bg\:green\:30\% {
    background-color: rgba(var(--green-rgba), 0.3);
}

.hover\:art-bg\:green\:40\% {
    background-color: rgba(var(--green-rgba), 0.4);
}

.hover\:art-bg\:green\:50\% {
    background-color: rgba(var(--green-rgba), 0.5);
}

.hover\:art-bg\:blue\:10\% {
    background-color: rgba(var(--blue-rgba), 0.1);
}

.hover\:art-bg\:blue\:20\% {
    background-color: rgba(var(--blue-rgba), 0.2);
}

.hover\:art-bg\:blue\:30\% {
    background-color: rgba(var(--blue-rgba), 0.3);
}

.hover\:art-bg\:blue\:40\% {
    background-color: rgba(var(--blue-rgba), 0.4);
}

.hover\:art-bg\:blue\:50\% {
    background-color: rgba(var(--blue-rgba), 0.5);
}

.hover\:art-bg\:red\:10\% {
    background-color: rgba(var(--red-rgba) 0.1);
}

.hover\:art-bg\:red\:20\% {
    background-color: rgba(var(--red-rgba) 0.2);
}

.hover\:art-bg\:red\:30\% {
    background-color: rgba(var(--red-rgba) 0.3);
}

.hover\:art-bg\:red\:40\% {
    background-color: rgba(var(--red-rgba) 0.4);
}

.hover\:art-bg\:red\:50\% {
    background-color: rgba(var(--red-rgba) 0.5);
}
