/* Fonts hover: */

.hover\:art-ft-color\:white-01:hover {
    /* hover:ft-color:white-01 */
    color: var(--white-01);
}

.hover\:art-ft-color\:white-02:hover {
    /* hover:ft-color:white-02 */
    color: var(--white-02);
}

.hover\:art-ft-color\:white-03:hover {
    /* hover:ft-color:white-02 */
    color: var(--white-03);
}

.hover\:art-ft-color\:black-01:hover {
    color: var(--black-01);
}

.hover\:art-ft-color\:black-02:hover {
    color: var(--black-02);
}

.hover\:art-ft-color\:black-03:hover {
    color: var(--black-03);
}

.hover\:art-ft-color\:yellow-01:hover {
    color: var(--yellow-01);
}

.hover\:art-ft-color\:yellow-02:hover {
    color: var(--yellow-02);
}

.hover\:art-ft-color\:yellow-03:hover {
    color: var(--yellow-03);
}

.hover\:art-ft-color\:green-01:hover {
    color: var(--green-01);
}

.hover\:art-ft-color\:green-02:hover {
    color: var(--green-02);
}

.hover\:art-ft-color\:green-03:hover {
    color: var(--green-03);
}

.hover\:art-ft-color\:blue-01:hover {
    color: var(--blue-01);
}

.hover\:art-ft-color\:blue-02:hover {
    color: var(--blue-02);
}

.hover\:art-ft-color\:blue-03:hover {
    color: var(--blue-03);
}

.hover\:art-ft-color\:red-01:hover {
    color: var(--red-01);
}

.hover\:art-ft-color\:red-02:hover {
    color: var(--red-02);
}

.hover\:art-ft-color\:red-03:hover {
    color: var(--red-03);
}

