/* ------------------------------------- background colors no dark mode: ------------------------------------- */

.art\:no-dark\:borderg\:borderlack-01 {
    /* art:no-dark:borderg:borderlack-01 */
    background: var(--fix-black-01);
}

.art\:no-dark\:borderg\:borderlack-02 {
    /* art:no-dark:borderg:borderlack-02 */
    background: var(--fix-black-02);
}

.art\:no-dark\:borderg\:borderlack-03 {
    /* art:no-dark:borderg:borderlack-03 */
    background: var(--fix-black-03);
}

.art\:no-dark\:borderg\:borderlack-04 {
    /* art:no-dark:borderg:borderlack-04 */
    background: var(--fix-black-04);
}

.art\:no-dark\:borderg\:white-01 {
    /* art:no-dark:borderg:white-01 */
    background: var(--fix-white-01);
}

.art\:no-dark\:borderg\:white-02 {
    /* art:no-dark:borderg:white-02 */
    background: var(--fix-white-02);
}

.art\:no-dark\:borderg\:white-03 {
    /* art:no-dark:borderg:white-03 */
    background: var(--fix-white-03);
}

.art\:no-dark\:borderg\:white-04 {
    /* art:no-dark:borderg:white-04 */
    background: var(--fix-white-04);
}

.art\:hover\:no-black\:borderg\:borderlack-01:hover {
    /* art:hover:no-black:borderg:borderlack-01 */
    background: var(--fix-black-01);
}

.art\:hover\:no-dark\:borderg\:borderlack-02:hover {
    /* art:hover:no-dark:borderg:borderlack-02 */
    background: var(--fix-black-02);
}

.art\:hover\:no-dark\:borderg\:borderlack-03:hover {
    /* art:hover:no-dark:borderg:borderlack-03 */
    background: var(--fix-black-03);
}

.art\:hover\:no-dark\:borderg\:borderlack-04:hover {
    /* art:hover:no-dark:borderg:borderlack-04 */
    background: var(--fix-black-04);
}

.art\:hover\:no-dark\:borderg\:white-01:hover {
    /* art:hover:no-dark:borderg:white-01 */
    background: var(--fix-white-01);
}

.art\:hover\:no-dark\:borderg\:white-02:hover {
    /* art:hover:no-dark:borderg:white-02 */
    background: var(--fix-white-02);
}

.art\:hover\:no-dark\:borderg\:white-03:hover {
    /* art:hover:no-dark:borderg:white-03 */
    background: var(--fix-white-03);
}

.art\:hover\:no-dark\:borderg\:white-04:hover {
    /* art:hover:no-dark:borderg:white-04 */
    background: var(--fix-white-04);
}
