.art\:no-dark\:ft\:white-01 {
    /* art:no-dark:ft:white-01 */
    color: var(--fix-white-01);
}

.art\:no-dark\:ft\:white-02 {
    /* art:no-dark:ft:white-02 */
    color: var(--fix-white-02);
}

.art\:no-dark\:ft\:white-03 {
    /* art:no-dark:ft:white-03 */
    color: var(--fix-white-03);
}

.art\:no-dark\:ft\:black-01 {
    /* art:no-dark:ft:black-01 */
    color: var(--fix-black-01);
}

.art\:no-dark\:ft\:black-02 {
    /* art:no-dark:ft:black-02 */
    color: var(--fix-black-02);
}

.art\:no-dark\:ft\:black-03 {
    /* art:no-dark:ft:black-03 */
    color: var(--fix-black-03);
}
