/* ------------------------------------- height ------------------------------------- */

.art\:h\:device {
    /* art:h:device  */
    height: 100dvh;
}

.art\:h\:full {
    /* art:h:full  */
    height: 100%;
}

.art\:h\:fit {
    /* art:h:fit  */
    height: fit-content;
}

.art\:h\:max-content {
    /* art:w:max-content */
    height: max-content;
}

.art\h\:min-content {
    /* art:w:min-content */
    height: min-content;
}
