/* ------------------------------------- width ------------------------------------- */

.art\:w\:device {
  /* art:w:device  */
  width: 100dvw;
}

.art\:w\:full {
  /* art:w:full  */
  width: 100%;
}

.art\:w\:fit {
  /* art:w:fit  */
  width: fit-content;
}
