/* ------------------------------------- border radius: ------------------------------------- */

.art\:border-rd\:sm {
    border-radius: var(--sm) var(--sm) var(--sm) var(--sm);
}

.art\:border-rd\:base {
    border-radius: var(--base) var(--base) var(--base) var(--base);
}

.art\:border-rd\:lg {
    border-radius: var(--lg) var(--lg) var(--lg) var(--lg);
}

.art\:border-rd\:xl {
    border-radius: var(--xl) var(--xl) var(--xl) var(--xl);
}

.art\:border-rd\:2xl {
    border-radius: var(--_2xl) var(--_2xl) var(--_2xl) var(--_2xl);
}

.art\:border-rd\:3xl {
    border-radius: var(--_3xl) var(--_3xl) var(--_3xl) var(--_3xl);
}

.art\:border-rd\:4xl {
    border-radius: var(--_4xl) var(--_4xl) var(--_4xl) var(--_4xl);
}

.art\:border-rd\:5xl {
    border-radius: var(--_5xl) var(--_5xl) var(--_5xl) var(--_5xl);
}

/* border-radius sides */

/* Border Radius - Top Left */
.art\:border-rd-lt\:sm {
    /* art:border:rd-lt:sm */
    border-top-left-radius: var(--sm);
}

.art\:border-rd-lt\:base {
    /* art:border:rd-lt:base */
    border-top-left-radius: var(--base);
}

.art\:border-rd-lt\:lg {
    /* art:border:rd-lt:lg */
    border-top-left-radius: var(--lg);
}

.art\:border-rd-lt\:xl {
    /* art:border:rd-lt:xl */
    border-top-left-radius: var(--xl);
}

.art\:border-rd-lt\:2xl {
    /* art:border:rd-lt:2xl */
    border-top-left-radius: var(--_2xl);
}

.art\:border-rd-lt\:3xl {
    /* art:border:rd-lt:3xl */
    border-top-left-radius: var(--_3xl);
}

.art\:border-rd-lt\:4xl {
    /* art:border:rd-lt:4xl */
    border-top-left-radius: var(--_4xl);
}

.art\:border-rd-lt\:5xl {
    /* art:border:rd-lt:5xl */
    border-top-left-radius: var(--_5xl);
}

/* Border Radius - Top Right */
.art\:border-rd-rt\:sm {
    /* art:border:rd-rt:sm */
    border-top-right-radius: var(--sm);
}

.art\:border-rd-rt\:base {
    /* art:border:rd-rt:base */
    border-top-right-radius: var(--base);
}

.art\:border-rd-rt\:lg {
    /* art:border:rd-rt:lg */
    border-top-right-radius: var(--lg);
}

.art\:border-rd-rt\:xl {
    /* art:border:rd-rt:xl */
    border-top-right-radius: var(--xl);
}

.art\:border-rd-rt\:2xl {
    /* art:border:rd-rt:2xl */
    border-top-right-radius: var(--_2xl);
}

.art\:border-rd-rt\:3xl {
    /* art:border:rd-rt:3xl */
    border-top-right-radius: var(--_3xl);
}

.art\:border-rd-rt\:4xl {
    /* art:border:rd-rt:4xl */
    border-top-right-radius: var(--_4xl);
}

.art\:border-rd-rt\:5xl {
    /* art:border:rd-rt:5xl */
    border-top-right-radius: var(--_5xl);
}

/* Border Radius - Bottom Left */
.art\:border-rd-lb\:sm {
    /* art:border:rd-lb:sm */
    border-bottom-left-radius: var(--sm);
}

.art\:border-rd-lb\:base {
    /* art:border:rd-lb:base */
    border-bottom-left-radius: var(--base);
}

.art\:border-rd-lb\:lg {
    /* art:border:rd-lb:lg */
    border-bottom-left-radius: var(--lg);
}

.art\:border-rd-lb\:xl {
    /* art:border:rd-lb:xl */
    border-bottom-left-radius: var(--xl);
}

.art\:border-rd-lb\:2xl {
    /* art:border:rd-lb:2xl */
    border-bottom-left-radius: var(--_2xl);
}

.art\:border-rd-lb\:3xl {
    /* art:border:rd-lb:3xl */
    border-bottom-left-radius: var(--_3xl);
}

.art\:border-rd-lb\:4xl {
    /* art:border:rd-lb:4xl */
    border-bottom-left-radius: var(--_4xl);
}

.art\:border-rd-lb\:5xl {
    /* art:border:rd-lb:5xl */
    border-bottom-left-radius: var(--_5xl);
}

/* Border Radius - Bottom Right */
.art\:border-rd-rb\:sm {
    /* art:border:rd-rb:sm */
    border-bottom-right-radius: var(--sm);
}

.art\:border-rd-rb\:base {
    /* art:border:rd-rb:base */
    border-bottom-right-radius: var(--base);
}

.art\:border-rd-rb\:lg {
    /* art:border:rd-rb:lg */
    border-bottom-right-radius: var(--lg);
}

.art\:border-rd-rb\:xl {
    /* art:border:rd-rb:xl */
    border-bottom-right-radius: var(--xl);
}

.art\:border-rd-rb\:2xl {
    /* art:border:rd-rb:2xl */
    border-bottom-right-radius: var(--_2xl);
}

.art\:border-rd-rb\:3xl {
    /* art:border:rd-rb:3xl */
    border-bottom-right-radius: var(--_3xl);
}

.art\:border-rd-rb\:4xl {
    /* art:border:rd-rb:4xl */
    border-bottom-right-radius: var(--_4xl);
}

.art\:border-rd-rb\:5xl {
    /* art:border:rd-rb:5xl */
    border-bottom-right-radius: var(--_5xl);
}
