/* ------------------------------------- border style: ------------------------------------- */

.art\:border\:solid {
    /* art:border:solid */
    border-style: solid;
}

.art\:border-t\:solid {
    /* art:border:solid-t */
    border-top-style: solid;
}

.art\:border-b\:solid {
    /* art:border:solid-b */
    border-bottom-style: solid;
}

.art\:border-l\:solid {
    /* art:border:solid-l */
    border-left-style: solid;
}

.art\:border-r\:solid {
    /* art:border:solid-r */
    border-right-style: solid;
}
