/* ------------------------------------- border colors: ------------------------------------- */

.art\:border-color\:white-01 {
    /* art:border-color:white-01  */
    border-color: var(--white-01);
}

.art\:border-color\:white-02 {
    /* art:border-color:white-02  */
    border-color: var(--white-02);
}

.art\:border-color\:white-03 {
    /* art:border-color:white-03  */
    border-color: var(--white-03);
}

.art\:border-color\:black-01 {
    /* art:border-color:black-01  */
    border-color: var(--black-01);
}

.art\:border-color\:black-02 {
    /* art:border-color:black-02  */
    border-color: var(--black-02);
}

.art\:border-color\:black-03 {
    /* art:border-color:black-03  */
    border-color: var(--black-03);
}

.art\:border-color\:yellow-01 {
    /* art:border-color:yellow-01  */
    border-color: var(--yellow-01);
}

.art\:border-color\:yellow-02 {
    /* art:border-color:yellow-02  */
    border-color: var(--yellow-02);
}

.art\:border-color\:yellow-03 {
    /* art:border-color:yellow-03  */
    border-color: var(--yellow-03);
}

.art\:border-color\:green-01 {
    /* art:border-color:green-01  */
    border-color: var(--green-01);
}

.art\:border-color\:green-02 {
    /* art:border-color:green-02  */
    border-color: var(--green-02);
}

.art\:border-color\:green-03 {
    /* art:border-color:green-03  */
    border-color: var(--green-03);
}

.art\:border-color\:blue-01 {
    /* art:border-color:blue-01  */
    border-color: var(--blue-01);
}

.art\:border-color\:blue-02 {
    /* art:border-color:blue-02  */
    border-color: var(--blue-02);
}

.art\:border-color\:blue-03 {
    /* art:border-color:blue-03  */
    border-color: var(--blue-03);
}

.art\:border-color\:red-01 {
    /* art:border-color:red-01  */
    border-color: var(--red-01);
}

.art\:border-color\:red-02 {
    /* art:border-color:red-02  */
    border-color: var(--red-02);
}

.art\:border-color\:red-03 {
    /* art:border-color:red-03  */
    border-color: var(--red-03);
}

/* ------------------------------------- border full solid: ------------------------------------ */

.art\:border-full\:solid\:black-01\:s-01 {
    /* .art:border-full:solid:black-01:s-01 */
    border: solid var(--black-01) 0.5px;
}
