/* Borders */

/* .art-b-radius-04 {
    border-radius: 0.9rem;
} */

.art-b-white-01 {
    border-color: var(--white-01);
}


.art-b-black-01 {
    border-color: var(--black-01);
}

.art-b-solid\:0\.5\:full {
    /* art-b-solid:0.5:full */
    border: 0.5px solid;
}
