/* ------------------------------------- background colors: ------------------------------------- */

.art\:bg\:transparent {
    /* art:bg:transparent */
    background: transparent;
}

.art\:bg\:white-01 {
    /* art:bg:white-01 */
    background: var(--white-01);
}

.art\:bg\:white-02 {
    /* art:bg:white-02 */
    background: var(--white-02);
}

.art\:bg\:white-03 {
    /* art:bg:white-03 */
    background: var(--white-03);
}

.art\:bg\:white\:10\% {
    /* art:bg:white:10% */
    background: rgba(var(--white-rgba), 0.1);
}

.art\:bg\:white\:20\% {
    /* art:bg:white:20% */
    background: rgba(var(--white-rgba), 0.2);
}

.art\:bg\:white\:30\% {
    /* art:bg:white:30% */
    background: rgba(var(--white-rgba), 0.3);
}

.art\:bg\:white\:40\% {
    /* art:bg:white:40% */
    background: rgba(var(--white-rgba), 0.4);
}

.art\:bg\:white\:50\% {
    /* art:bg:white:50% */
    background: rgba(var(--white-rgba), 0.5);
}

.art\:bg\:black-01 {
    /* art:bg:black-01 */
    background: var(--black-01);
}

.art\:bg\:black-02 {
    /* art:bg:black-02 */
    background: var(--black-02);
}

.art\:bg\:black-03 {
    /* art:bg:black-03 */
    background: var(--black-03);
}

.art\:bg\:black\:10\% {
    /* art:bg:black:10% */
    background: rgba(var(--black-rgba), 0.1);
}

.art\:bg\:black\:20\% {
    /* art:bg:black:20% */
    background: rgba(var(--black-rgba), 0.2);
}

.art\:bg\:black\:30\% {
    /* art:bg:black:30% */
    background: rgba(var(--black-rgba), 0.3);
}

.art\:bg\:black\:40\% {
    /* art:bg:black:40% */
    background: rgba(var(--black-rgba), 0.4);
}

.art\:bg\:black\:50\% {
    /* art:bg:black:50% */
    background: rgba(var(--black-rgba), 0.5);
}

.art\:bg\:yellow-01 {
    /* art:bg:yellow-01 */
    background: var(--yellow-01);
}

.art\:bg\:yellow-02 {
    /* art:bg:yellow-02 */
    background: var(--yellow-02);
}

.art\:bg\:yellow-03 {
    /* art:bg:yellow-03 */
    background: var(--yellow-03);
}

.art\:bg\:yellow\:10\% {
    /* art:bg:yellow:10% */
    background: rgba(var(--yellow-rgba), 0.1);
}

.art\:bg\:yellow\:20\% {
    /* art:bg:yellow:20% */
    background: rgba(var(--yellow-rgba), 0.2);
}

.art\:bg\:yellow\:30\% {
    /* art:bg:yellow:30% */
    background: rgba(var(--yellow-rgba), 0.3);
}

.art\:bg\:yellow\:40\% {
    /* art:bg:yellow:40% */
    background: rgba(var(--yellow-rgba), 0.4);
}

.art\:bg\:yellow\:50\% {
    /* art:bg:yellow:50% */
    background: rgba(var(--yellow-rgba), 0.5);
}

.art\:bg\:green-01 {
    /* art:bg:green-01 */
    background: var(--green-01);
}

.art\:bg\:green-02 {
    /* art:bg:green-02 */
    background: var(--green-02);
}

.art\:bg\:green-03 {
    /* art:bg:green-03 */
    background: var(--green-02);
}

.art\:bg\:green\:10\% {
    /* art:bg:green:10% */
    background: rgba(var(--green-rgba), 0.1);
}

.art\:bg\:green\:20\% {
    /* art:bg:green:20% */
    background: rgba(var(--green-rgba), 0.2);
}

.art\:bg\:green\:30\% {
    /* art:bg:green:30% */
    background: rgba(var(--green-rgba), 0.3);
}

.art\:bg\:green\:40\% {
    /* art:bg:green:40% */
    background: rgba(var(--green-rgba), 0.4);
}

.art\:bg\:green\:50\% {
    /* art:bg:green:50% */
    background: rgba(var(--green-rgba), 0.5);
}

.art\:bg\:blue-01 {
    /* art:bg:blue-01 */
    background: var(--blue-01);
}

.art\:bg\:blue-02 {
    /* art:bg:blue-02 */
    background: var(--blue-02);
}

.art\:bg\:blue-03 {
    /* art:bg:blue-03 */
    background: var(--blue-03);
}

.art\:bg\:blue\:10\% {
    /* art:bg:blue:10% */
    background: rgba(var(--blue-rgba), 0.1);
}

.art\:bg\:blue\:20\% {
    /* art:bg:blue:20% */
    background: rgba(var(--blue-rgba), 0.2);
}

.art\:bg\:blue\:30\% {
    /* art:bg:blue:30% */
    background: rgba(var(--blue-rgba), 0.3);
}

.art\:bg\:blue\:40\% {
    /* art:bg:blue:40% */
    background: rgba(var(--blue-rgba), 0.4);
}

.art\:bg\:blue\:50\% {
    /* art:bg:blue:50% */
    background: rgba(var(--blue-rgba), 0.5);
}

.art\:bg\:orange-01 {
    /* art:bg:orange-01 */
    background: var(--orange-01);
}

.art\:bg\:orange-02 {
    /* art:bg:orange-02 */
    background: var(--orange-02);
}

.art\:bg\:orange-03 {
    /* art:bg:orange-03 */
    background: var(--orange-03);
}

.art\:bg\:orange\:10\% {
    /* art:bg:orange:10% */
    background: rgba(var(--orange-rgba), 0.1);
}

.art\:bg\:orange\:20\% {
    /* art:bg:orange:20% */
    background: rgba(var(--orange-rgba), 0.2);
}

.art\:bg\:orange\:30\% {
    /* art:bg:orange:30% */
    background: rgba(var(--orange-rgba), 0.3);
}

.art\:bg\:orange\:40\% {
    /* art:bg:orange:40% */
    background: rgba(var(--orange-rgba), 0.4);
}

.art\:bg\:orange\:50\% {
    /* art:bg:orange:50% */
    background: rgba(var(--orange-rgba), 0.5);
}

.art\:bg\:red-01 {
    /* art:bg:red-01 */
    background: var(--red-01);
}

.art\:bg\:red-02 {
    /* art:bg:red-02 */
    background: var(--red-02);
}

.art\:bg\:red-03 {
    /* art:bg:red-03 */
    background: var(--red-03);
}

.art\:bg\:red\:10\% {
    /* art:bg:red:10% */
    background: rgba(var(--red-rgba), 0.1);
}

.art\:bg\:red\:20\% {
    /* art:bg:red:20% */
    background: rgba(var(--red-rgba), 0.2);
}

.art\:bg\:red\:30\% {
    /* art:bg:red:30% */
    background: rgba(var(--red-rgba), 0.3);
}

.art\:bg\:red\:40\% {
    /* art:bg:red:40% */
    background: rgba(var(--red-rgba), 0.4);
}

.art\:bg\:red\:50\% {
    /* art:bg:red:50% */
    background: rgba(var(--red-rgba), 0.5);
}

.art\:bg\:blur-01 {
    /* art:bg:blur-01 */
    background: hsla(0, 0%, 94%, .16);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
}

.art\:shadow\:center {
    /* .art:shadow:center */
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
}