@layer background {

    :where(class*="art:bg:"),
    [class*="art:bg:"] {
        --bg-color: transparent;
        background: var(--bg-color);
    }

    .art\:bg\:none {
        /* art:bg:none */
        --bg-color: transparent;
    }

    .art\:bg\:black-01 {
        /* art:bg:black-01 */
        --bg-color: var(--black-01);
    }

    .art\:bg\:black-02 {
        /* art:bg:black-02 */
        --bg-color: var(--black-02);
    }

    .art\:bg\:black-03 {
        /* art:bg:black-03 */
        --bg-color: var(--black-03);
    }

    .art\:bg\:black-04 {
        /* art:bg:black-04 */
        --bg-color: var(--black-04);
    }

    .art\:bg\:black\:10\% {
        /* art:bg:black:10% */
        --bg-color: rgb(var(--black-rgb), 0.1);
    }

    .art\:bg\:black\:20\% {
        /* art:bg:black:20% */
        --bg-color: rgb(var(--black-rgb), 0.2);
    }

    .art\:bg\:black\:30\% {
        /* art:bg:black:30% */
        --bg-color: rgb(var(--black-rgb), 0.3);
    }

    .art\:bg\:black\:40\% {
        /* art:bg:black:40% */
        --bg-color: rgb(var(--black-rgb), 0.4);
    }

    .art\:bg\:black\:50\% {
        /* art:bg:black:50% */
        --bg-color: rgb(var(--black-rgb), 0.5);
    }

    .art\:bg\:black\:60\% {
        /* art:bg:black:60% */
        --bg-color: rgba(var(--black-rgb), 0.6);
    }

    .art\:bg\:black\:70\% {
        /* art:bg:black:70% */
        --bg-color: rgba(var(--black-rgb), 0.7);
    }

    .art\:bg\:black\:80\% {
        /* art:bg:black:80% */
        --bg-color: rgba(var(--black-rgb), 0.8);
    }

    .art\:bg\:black\:90\% {
        /* art:bg:black:90% */
        --bg-color: rgba(var(--black-rgb), 0.9);
    }

    /* White */
    .art\:bg\:white-01 {
        /* art:bg:white-01 */
        --bg-color: var(--white-01);
    }

    .art\:bg\:white-02 {
        /* art:bg:white-02 */
        --bg-color: var(--white-02);
    }

    .art\:bg\:white-03 {
        /* art:bg:white-03 */
        --bg-color: var(--white-03);
    }

    .art\:bg\:white-04 {
        /* art:bg:white-04 */
        --bg-color: var(--white-04);
    }

    .art\:bg\:white\:10\% {
        /* art:bg:white:10% */
        --bg-color: rgb(var(--white-rgb), 0.1);
    }

    .art\:bg\:white\:20\% {
        /* art:bg:white:20% */
        --bg-color: rgb(var(--white-rgb), 0.2);
    }

    .art\:bg\:white\:30\% {
        /* art:bg:white:30% */
        --bg-color: rgb(var(--white-rgb), 0.3);
    }

    .art\:bg\:white\:40\% {
        /* art:bg:white:40% */
        --bg-color: rgb(var(--white-rgb), 0.4);
    }

    .art\:bg\:white\:50\% {
        /* art:bg:white:50% */
        --bg-color: rgb(var(--white-rgb), 0.5);
    }

    .art\:bg\:white\:60\% {
        /* art:bg:white:60% */
        --bg-color: rgba(var(--white-rgb), 0.6);
    }

    .art\:bg\:white\:70\% {
        /* art:bg:white:70% */
        --bg-color: rgba(var(--white-rgb), 0.7);
    }

    .art\:bg\:white\:80\% {
        /* art:bg:white:80% */
        --bg-color: rgba(var(--white-rgb), 0.8);
    }

    .art\:bg\:white\:90\% {
        /* art:bg:white:90% */
        --bg-color: rgba(var(--white-rgb), 0.9);
    }

    /* Yellow */
    .art\:bg\:yellow-01 {
        /* art:bg:yellow-01 */
        --bg-color: var(--yellow-01);
    }

    .art\:bg\:yellow-02 {
        /* art:bg:yellow-02 */
        --bg-color: var(--yellow-02);
    }

    .art\:bg\:yellow-03 {
        /* art:bg:yellow-03 */
        --bg-color: var(--yellow-03);
    }

    .art\:bg\:yellow-04 {
        /* art:bg:yellow-04 */
        --bg-color: var(--yellow-04);
    }

    .art\:bg\:yellow\:10\% {
        /* art:bg:yellow:10% */
        --bg-color: rgb(var(--yellow-rgb), 0.1);
    }

    .art\:bg\:yellow\:20\% {
        /* art:bg:yellow:20% */
        --bg-color: rgb(var(--yellow-rgb), 0.2);
    }

    .art\:bg\:yellow\:30\% {
        /* art:bg:yellow:30% */
        --bg-color: rgb(var(--yellow-rgb), 0.3);
    }

    .art\:bg\:yellow\:40\% {
        /* art:bg:yellow:40% */
        --bg-color: rgb(var(--yellow-rgb), 0.4);
    }

    .art\:bg\:yellow\:50\% {
        /* art:bg:yellow:50% */
        --bg-color: rgb(var(--yellow-rgb), 0.5);
    }

    .art\:bg\:yellow\:60\% {
        /* art:bg:yellow:60% */
        --bg-color: rgba(var(--yellow-rgb), 0.6);
    }

    .art\:bg\:yellow\:70\% {
        /* art:bg:yellow:70% */
        --bg-color: rgba(var(--yellow-rgb), 0.7);
    }

    .art\:bg\:yellow\:80\% {
        /* art:bg:yellow:80% */
        --bg-color: rgba(var(--yellow-rgb), 0.8);
    }

    .art\:bg\:yellow\:90\% {
        /* art:bg:yellow:90% */
        --bg-color: rgba(var(--yellow-rgb), 0.9);
    }

    /* Orange */
    .art\:bg\:orange-01 {
        /* art:bg:orange-01 */
        --bg-color: var(--orange-01);
    }

    .art\:bg\:orange-02 {
        /* art:bg:orange-02 */
        --bg-color: var(--orange-02);
    }

    .art\:bg\:orange-03 {
        /* art:bg:orange-03 */
        --bg-color: var(--orange-03);
    }

    .art\:bg\:orange-04 {
        /* art:bg:orange-04 */
        --bg-color: var(--orange-04);
    }

    .art\:bg\:orange\:10\% {
        /* art:bg:orange:10% */
        --bg-color: rgb(var(--orange-rgb), 0.1);
    }

    .art\:bg\:orange\:20\% {
        /* art:bg:orange:20% */
        --bg-color: rgb(var(--orange-rgb), 0.2);
    }

    .art\:bg\:orange\:30\% {
        /* art:bg:orange:30% */
        --bg-color: rgb(var(--orange-rgb), 0.3);
    }

    .art\:bg\:orange\:40\% {
        /* art:bg:orange:40% */
        --bg-color: rgb(var(--orange-rgb), 0.4);
    }

    .art\:bg\:orange\:50\% {
        /* art:bg:orange:50% */
        --bg-color: rgb(var(--orange-rgb), 0.5);
    }

    .art\:bg\:orange\:60\% {
        /* art:bg:orange:60% */
        --bg-color: rgba(var(--orange-rgb), 0.6);
    }

    .art\:bg\:orange\:70\% {
        /* art:bg:orange:70% */
        --bg-color: rgba(var(--orange-rgb), 0.7);
    }

    .art\:bg\:orange\:80\% {
        /* art:bg:orange:80% */
        --bg-color: rgba(var(--orange-rgb), 0.8);
    }

    .art\:bg\:orange\:90\% {
        /* art:bg:orange:90% */
        --bg-color: rgba(var(--orange-rgb), 0.9);
    }

    /* Red */
    .art\:bg\:red-01 {
        /* art:bg:red-01 */
        --bg-color: var(--red-01);
    }

    .art\:bg\:red-02 {
        /* art:bg:red-02 */
        --bg-color: var(--red-02);
    }

    .art\:bg\:red-03 {
        /* art:bg:red-03 */
        --bg-color: var(--red-03);
    }

    .art\:bg\:red-04 {
        /* art:bg:red-04 */
        --bg-color: var(--red-04);
    }

    .art\:bg\:red\:10\% {
        /* art:bg:red:10% */
        --bg-color: rgb(var(--red-rgb), 0.1);
    }

    .art\:bg\:red\:20\% {
        /* art:bg:red:20% */
        --bg-color: rgb(var(--red-rgb), 0.2);
    }

    .art\:bg\:red\:30\% {
        /* art:bg:red:30% */
        --bg-color: rgb(var(--red-rgb), 0.3);
    }

    .art\:bg\:red\:40\% {
        /* art:bg:red:40% */
        --bg-color: rgb(var(--red-rgb), 0.4);
    }

    .art\:bg\:red\:50\% {
        /* art:bg:red:50% */
        --bg-color: rgb(var(--red-rgb), 0.5);
    }

    .art\:bg\:red\:60\% {
        /* art:bg:red:60% */
        --bg-color: rgba(var(--red-rgb), 0.6);
    }

    .art\:bg\:red\:70\% {
        /* art:bg:red:70% */
        --bg-color: rgba(var(--red-rgb), 0.7);
    }

    .art\:bg\:red\:80\% {
        /* art:bg:red:80% */
        --bg-color: rgba(var(--red-rgb), 0.8);
    }

    .art\:bg\:red\:90\% {
        /* art:bg:red:90% */
        --bg-color: rgba(var(--red-rgb), 0.9);
    }

    /* Blue */
    .art\:bg\:blue-01 {
        /* art:bg:blue-01 */
        --bg-color: var(--blue-01);
    }

    .art\:bg\:blue-02 {
        /* art:bg:blue-02 */
        --bg-color: var(--blue-02);
    }

    .art\:bg\:blue-03 {
        /* art:bg:blue-03 */
        --bg-color: var(--blue-03);
    }

    .art\:bg\:blue-04 {
        /* art:bg:blue-04 */
        --bg-color: var(--blue-04);
    }

    .art\:bg\:blue\:10\% {
        /* art:bg:blue:10% */
        --bg-color: rgb(var(--blue-rgb), 0.1);
    }

    .art\:bg\:blue\:20\% {
        /* art:bg:blue:20% */
        --bg-color: rgb(var(--blue-rgb), 0.2);
    }

    .art\:bg\:blue\:30\% {
        /* art:bg:blue:30% */
        --bg-color: rgb(var(--blue-rgb), 0.3);
    }

    .art\:bg\:blue\:40\% {
        /* art:bg:blue:40% */
        --bg-color: rgb(var(--blue-rgb), 0.4);
    }

    .art\:bg\:blue\:50\% {
        /* art:bg:blue:50% */
        --bg-color: rgb(var(--blue-rgb), 0.5);
    }

    .art\:bg\:blue\:60\% {
        /* art:bg:blue:60% */
        --bg-color: rgba(var(--blue-rgb), 0.6);
    }

    .art\:bg\:blue\:70\% {
        /* art:bg:blue:70% */
        --bg-color: rgba(var(--blue-rgb), 0.7);
    }

    .art\:bg\:blue\:80\% {
        /* art:bg:blue:80% */
        --bg-color: rgba(var(--blue-rgb), 0.8);
    }

    .art\:bg\:blue\:90\% {
        /* art:bg:blue:90% */
        --bg-color: rgba(var(--blue-rgb), 0.9);
    }

    /* Green */
    .art\:bg\:green-01 {
        /* art:bg:green-01 */
        --bg-color: var(--green-01);
    }

    .art\:bg\:green-02 {
        /* art:bg:green-02 */
        --bg-color: var(--green-02);
    }

    .art\:bg\:green-03 {
        /* art:bg:green-03 */
        --bg-color: var(--green-03);
    }

    .art\:bg\:green-04 {
        /* art:bg:green-04 */
        --bg-color: var(--green-04);
    }

    .art\:bg\:green\:10\% {
        /* art:bg:green:10% */
        --bg-color: rgb(var(--green-rgb), 0.1);
    }

    .art\:bg\:green\:20\% {
        /* art:bg:green:20% */
        --bg-color: rgb(var(--green-rgb), 0.2);
    }

    .art\:bg\:green\:30\% {
        /* art:bg:green:30% */
        --bg-color: rgb(var(--green-rgb), 0.3);
    }

    .art\:bg\:green\:40\% {
        /* art:bg:green:40% */
        --bg-color: rgb(var(--green-rgb), 0.4);
    }

    .art\:bg\:green\:50\% {
        /* art:bg:green:50% */
        --bg-color: rgb(var(--green-rgb), 0.5);
    }

    .art\:bg\:green\:60\% {
        /* art:bg:green:60% */
        --bg-color: rgba(var(--green-rgb), 0.6);
    }

    .art\:bg\:green\:70\% {
        /* art:bg:green:70% */
        --bg-color: rgba(var(--green-rgb), 0.7);
    }

    .art\:bg\:green\:80\% {
        /* art:bg:green:80% */
        --bg-color: rgba(var(--green-rgb), 0.8);
    }

    .art\:bg\:green\:90\% {
        /* art:bg:green:90% */
        --bg-color: rgba(var(--green-rgb), 0.9);
    }

    /* Purple */
    .art\:bg\:purple-01 {
        /* art:bg:purple-01 */
        --bg-color: var(--purple-01);
    }

    .art\:bg\:purple-02 {
        /* art:bg:purple-02 */
        --bg-color: var(--purple-02);
    }

    .art\:bg\:purple-03 {
        /* art:bg:purple-03 */
        --bg-color: var(--purple-03);
    }

    .art\:bg\:purple-04 {
        /* art:bg:purple-04 */
        --bg-color: var(--purple-04);
    }

    .art\:bg\:purple\:10\% {
        /* art:bg:purple:10% */
        --bg-color: rgb(var(--purple-rgb), 0.1);
    }

    .art\:bg\:purple\:20\% {
        /* art:bg:purple:20% */
        --bg-color: rgb(var(--purple-rgb), 0.2);
    }

    .art\:bg\:purple\:30\% {
        /* art:bg:purple:30% */
        --bg-color: rgb(var(--purple-rgb), 0.3);
    }

    .art\:bg\:purple\:40\% {
        /* art:bg:purple:40% */
        --bg-color: rgb(var(--purple-rgb), 0.4);
    }

    .art\:bg\:purple\:50\% {
        /* art:bg:purple:50% */
        --bg-color: rgb(var(--purple-rgb), 0.5);
    }

    .art\:bg\:purple\:60\% {
        /* art:bg:purple:60% */
        --bg-color: rgba(var(--purple-rgb), 0.6);
    }

    .art\:bg\:purple\:70\% {
        /* art:bg:purple:70% */
        --bg-color: rgba(var(--purple-rgb), 0.7);
    }

    .art\:bg\:purple\:80\% {
        /* art:bg:purple:80% */
        --bg-color: rgba(var(--purple-rgb), 0.8);
    }

    .art\:bg\:purple\:90\% {
        /* art:bg:purple:90% */
        --bg-color: rgba(var(--purple-rgb), 0.9);
    }

}