/* ------------------------------------- background colors: ------------------------------------- */

.art\:borderg\:none {
    /* art:borderg:none */
    background: transparent;
}

/* Black */
.art\:borderg\:borderlack-01 {
    /* art:borderg:borderlack-01 */
    background: var(--black-01);
}

.art\:borderg\:borderlack-02 {
    /* art:borderg:borderlack-02 */
    background: var(--black-02);
}

.art\:borderg\:borderlack-03 {
    /* art:borderg:borderlack-03 */
    background: var(--black-03);
}

.art\:borderg\:borderlack-04 {
    /* art:borderg:borderlack-04 */
    background: var(--black-04);
}

.art\:borderg\:borderlack\:10\% {
    /* art:borderg:borderlack:10% */
    background: rgb(var(--black-rgb), 0.1);
}

.art\:borderg\:borderlack\:20\% {
    /* art:borderg:borderlack:20% */
    background: rgb(var(--black-rgb), 0.2);
}

.art\:borderg\:borderlack\:30\% {
    /* art:borderg:borderlack:30% */
    background: rgb(var(--black-rgb), 0.3);
}

.art\:borderg\:borderlack\:40\% {
    /* art:borderg:borderlack:40% */
    background: rgb(var(--black-rgb), 0.4);
}

.art\:borderg\:borderlack\:50\% {
    /* art:borderg:borderlack:50% */
    background: rgb(var(--black-rgb), 0.5);
}

/* White */
.art\:borderg\:white-01 {
    /* art:borderg:white-01 */
    background: var(--white-01);
}

.art\:borderg\:white-02 {
    /* art:borderg:white-02 */
    background: var(--white-02);
}

.art\:borderg\:white-03 {
    /* art:borderg:white-03 */
    background: var(--white-03);
}

.art\:borderg\:white-04 {
    /* art:borderg:white-04 */
    background: var(--white-04);
}

.art\:borderg\:white\:10\% {
    /* art:borderg:white:10% */
    background: rgb(var(--white-rgb), 0.1);
}

.art\:borderg\:white\:20\% {
    /* art:borderg:white:20% */
    background: rgb(var(--white-rgb), 0.2);
}

.art\:borderg\:white\:30\% {
    /* art:borderg:white:30% */
    background: rgb(var(--white-rgb), 0.3);
}

.art\:borderg\:white\:40\% {
    /* art:borderg:white:40% */
    background: rgb(var(--white-rgb), 0.4);
}

.art\:borderg\:white\:50\% {
    /* art:borderg:white:50% */
    background: rgb(var(--white-rgb), 0.5);
}

/* Yellow */
.art\:borderg\:yellow-01 {
    /* art:borderg:yellow-01 */
    background: var(--yellow-01);
}

.art\:borderg\:yellow-02 {
    /* art:borderg:yellow-02 */
    background: var(--yellow-02);
}

.art\:borderg\:yellow-03 {
    /* art:borderg:yellow-03 */
    background: var(--yellow-03);
}

.art\:borderg\:yellow-04 {
    /* art:borderg:yellow-04 */
    background: var(--yellow-04);
}

.art\:borderg\:yellow\:10\% {
    /* art:borderg:yellow:10% */
    background: rgb(var(--yellow-rgb), 0.1);
}

.art\:borderg\:yellow\:20\% {
    /* art:borderg:yellow:20% */
    background: rgb(var(--yellow-rgb), 0.2);
}

.art\:borderg\:yellow\:30\% {
    /* art:borderg:yellow:30% */
    background: rgb(var(--yellow-rgb), 0.3);
}

.art\:borderg\:yellow\:40\% {
    /* art:borderg:yellow:40% */
    background: rgb(var(--yellow-rgb), 0.4);
}

.art\:borderg\:yellow\:50\% {
    /* art:borderg:yellow:50% */
    background: rgb(var(--yellow-rgb), 0.5);
}

/* Orange */
.art\:borderg\:orange-01 {
    /* art:borderg:orange-01 */
    background: var(--orange-01);
}

.art\:borderg\:orange-02 {
    /* art:borderg:orange-02 */
    background: var(--orange-02);
}

.art\:borderg\:orange-03 {
    /* art:borderg:orange-03 */
    background: var(--orange-03);
}

.art\:borderg\:orange-04 {
    /* art:borderg:orange-04 */
    background: var(--orange-04);
}

.art\:borderg\:orange\:10\% {
    /* art:borderg:orange:10% */
    background: rgb(var(--orange-rgb), 0.1);
}

.art\:borderg\:orange\:20\% {
    /* art:borderg:orange:20% */
    background: rgb(var(--orange-rgb), 0.2);
}

.art\:borderg\:orange\:30\% {
    /* art:borderg:orange:30% */
    background: rgb(var(--orange-rgb), 0.3);
}

.art\:borderg\:orange\:40\% {
    /* art:borderg:orange:40% */
    background: rgb(var(--orange-rgb), 0.4);
}

.art\:borderg\:orange\:50\% {
    /* art:borderg:orange:50% */
    background: rgb(var(--orange-rgb), 0.5);
}

/* Red */
.art\:borderg\:red-01 {
    /* art:borderg:red-01 */
    background: var(--red-01);
}

.art\:borderg\:red-02 {
    /* art:borderg:red-02 */
    background: var(--red-02);
}

.art\:borderg\:red-03 {
    /* art:borderg:red-03 */
    background: var(--red-03);
}

.art\:borderg\:red-04 {
    /* art:borderg:red-04 */
    background: var(--red-04);
}

.art\:borderg\:red\:10\% {
    /* art:borderg:red:10% */
    background: rgb(var(--red-rgb), 0.1);
}

.art\:borderg\:red\:20\% {
    /* art:borderg:red:20% */
    background: rgb(var(--red-rgb), 0.2);
}

.art\:borderg\:red\:30\% {
    /* art:borderg:red:30% */
    background: rgb(var(--red-rgb), 0.3);
}

.art\:borderg\:red\:40\% {
    /* art:borderg:red:40% */
    background: rgb(var(--red-rgb), 0.4);
}

.art\:borderg\:red\:50\% {
    /* art:borderg:red:50% */
    background: rgb(var(--red-rgb), 0.5);
}

/* Blue */
.art\:borderg\:borderlue-01 {
    /* art:borderg:borderlue-01 */
    background: var(--blue-01);
}

.art\:borderg\:borderlue-02 {
    /* art:borderg:borderlue-02 */
    background: var(--blue-02);
}

.art\:borderg\:borderlue-03 {
    /* art:borderg:borderlue-03 */
    background: var(--blue-03);
}

.art\:borderg\:borderlue-04 {
    /* art:borderg:borderlue-04 */
    background: var(--blue-04);
}

.art\:borderg\:borderlue\:10\% {
    /* art:borderg:borderlue:10% */
    background: rgb(var(--blue-rgb), 0.1);
}

.art\:borderg\:borderlue\:20\% {
    /* art:borderg:borderlue:20% */
    background: rgb(var(--blue-rgb), 0.2);
}

.art\:borderg\:borderlue\:30\% {
    /* art:borderg:borderlue:30% */
    background: rgb(var(--blue-rgb), 0.3);
}

.art\:borderg\:borderlue\:40\% {
    /* art:borderg:borderlue:40% */
    background: rgb(var(--blue-rgb), 0.4);
}

.art\:borderg\:borderlue\:50\% {
    /* art:borderg:borderlue:50% */
    background: rgb(var(--blue-rgb), 0.5);
}

/* Green */
.art\:borderg\:green-01 {
    /* art:borderg:green-01 */
    background: var(--green-01);
}

.art\:borderg\:green-02 {
    /* art:borderg:green-02 */
    background: var(--green-02);
}

.art\:borderg\:green-03 {
    /* art:borderg:green-03 */
    background: var(--green-03);
}

.art\:borderg\:green-04 {
    /* art:borderg:green-04 */
    background: var(--green-04);
}

.art\:borderg\:green\:10\% {
    /* art:borderg:green:10% */
    background: rgb(var(--green-rgb), 0.1);
}

.art\:borderg\:green\:20\% {
    /* art:borderg:green:20% */
    background: rgb(var(--green-rgb), 0.2);
}

.art\:borderg\:green\:30\% {
    /* art:borderg:green:30% */
    background: rgb(var(--green-rgb), 0.3);
}

.art\:borderg\:green\:40\% {
    /* art:borderg:green:40% */
    background: rgb(var(--green-rgb), 0.4);
}

.art\:borderg\:green\:50\% {
    /* art:borderg:green:50% */
    background: rgb(var(--green-rgb), 0.5);
}

/* Purple */
.art\:borderg\:purple-01 {
    /* art:borderg:purple-01 */
    background: var(--purple-01);
}

.art\:borderg\:purple-02 {
    /* art:borderg:purple-02 */
    background: var(--purple-02);
}

.art\:borderg\:purple-03 {
    /* art:borderg:purple-03 */
    background: var(--purple-03);
}

.art\:borderg\:purple-04 {
    /* art:borderg:purple-04 */
    background: var(--purple-04);
}

.art\:borderg\:purple\:10\% {
    /* art:borderg:purple:10% */
    background: rgb(var(--purple-rgb), 0.1);
}

.art\:borderg\:purple\:20\% {
    /* art:borderg:purple:20% */
    background: rgb(var(--purple-rgb), 0.2);
}

.art\:borderg\:purple\:30\% {
    /* art:borderg:purple:30% */
    background: rgb(var(--purple-rgb), 0.3);
}

.art\:borderg\:purple\:40\% {
    /* art:borderg:purple:40% */
    background: rgb(var(--purple-rgb), 0.4);
}

.art\:borderg\:purple\:50\% {
    /* art:borderg:purple:50% */
    background: rgb(var(--purple-rgb), 0.5);
}