/* ------------------------------------- background hovers: ------------------------------------- */

.art\:hover\:bg\:none:hover {
    /* art:hover:bg:none */
    background: transparent;
}

.art\:hover\:bg\:black-01:hover {
    /* art:hover:bg:black-01 */
    background: var(--black-01);
}

.art\:hover\:bg\:black-02:hover {
    /* art:hover:bg:black-02 */
    background: var(--black-02);
}

.art\:hover\:bg\:black-03:hover {
    /* art:hover:bg:black-03 */
    background: var(--black-03);
}

.art\:hover\:bg\:black-04:hover {
    /* art:hover:bg:black-04 */
    background: var(--black-04);
}

.art\:hover\:bg\:black\:10\%:hover {
    /* art:hover:bg:black:10% */
    background: rgb(var(--black-rgb), 0.1);
}

.art\:hover\:bg\:black\:20\%:hover {
    /* art:hover:bg:black:20% */
    background: rgb(var(--black-rgb), 0.2);
}

.art\:hover\:bg\:black\:30\%:hover {
    /* art:hover:bg:black:30% */
    background: rgb(var(--black-rgb), 0.3);
}

.art\:hover\:bg\:black\:40\%:hover {
    /* art:hover:bg:black:40% */
    background: rgb(var(--black-rgb), 0.4);
}

.art\:hover\:bg\:black\:50\%:hover {
    /* art:hover:bg:black:50% */
    background: rgb(var(--black-rgb), 0.5);
}

.art\:hover\:bg\:white-01:hover {
    /* art:hover:bg:white-01 */
    background: var(--white-01);
}

.art\:hover\:bg\:white-02:hover {
    /* art:hover:bg:white-02 */
    background: var(--white-02);
}

.art\:hover\:bg\:white-03:hover {
    /* art:hover:bg:white-03 */
    background: var(--white-03);
}

.art\:hover\:bg\:white-04:hover {
    /* art:hover:bg:white-04 */
    background: var(--white-04);
}

.art\:hover\:bg\:white\:10\%:hover {
    /* art:hover:bg:white:10% */
    background: rgb(var(--white-rgb), 0.1);
}

.art\:hover\:bg\:white\:20\%:hover {
    /* art:hover:bg:white:20% */
    background: rgb(var(--white-rgb), 0.2);
}

.art\:hover\:bg\:white\:30\%:hover {
    /* art:hover:bg:white:30% */
    background: rgb(var(--white-rgb), 0.3);
}

.art\:hover\:bg\:white\:40\%:hover {
    /* art:hover:bg:white:40% */
    background: rgb(var(--white-rgb), 0.4);
}

.art\:hover\:bg\:white\:50\%:hover {
    /* art:hover:bg:white:50% */
    background: rgb(var(--white-rgb), 0.5);
}

.art\:hover\:bg\:yellow-01:hover {
    /* art:hover:bg:yellow-01 */
    background: var(--yellow-01);
}

.art\:hover\:bg\:yellow-02:hover {
    /* art:hover:bg:yellow-02 */
    background: var(--yellow-02);
}

.art\:hover\:bg\:yellow-03:hover {
    /* art:hover:bg:yellow-03 */
    background: var(--yellow-03);
}

.art\:hover\:bg\:yellow-04:hover {
    /* art:hover:bg:yellow-04 */
    background: var(--yellow-04);
}

.art\:hover\:bg\:yellow\:10\%:hover {
    /* art:hover:bg:yellow:10% */
    background: rgb(var(--yellow-rgb), 0.1);
}

.art\:hover\:bg\:yellow\:20\%:hover {
    /* art:hover:bg:yellow:20% */
    background: rgb(var(--yellow-rgb), 0.2);
}

.art\:hover\:bg\:yellow\:30\%:hover {
    /* art:hover:bg:yellow:30% */
    background: rgb(var(--yellow-rgb), 0.3);
}

.art\:hover\:bg\:yellow\:40\%:hover {
    /* art:hover:bg:yellow:40% */
    background: rgb(var(--yellow-rgb), 0.4);
}

.art\:hover\:bg\:yellow\:50\%:hover {
    /* art:hover:bg:yellow:50% */
    background: rgb(var(--yellow-rgb), 0.5);
}

/* Orange */
.art\:hover\:bg\:orange-01:hover {
    /* art:hover:bg:orange-01 */
    background: var(--orange-01);
}

.art\:hover\:bg\:orange-02:hover {
    /* art:hover:bg:orange-02 */
    background: var(--orange-02);
}

.art\:hover\:bg\:orange-03:hover {
    /* art:hover:bg:orange-03 */
    background: var(--orange-03);
}

.art\:hover\:bg\:orange-04:hover {
    /* art:hover:bg:orange-04 */
    background: var(--orange-04);
}

.art\:hover\:bg\:orange\:10\%:hover {
    /* art:hover:bg:orange:10% */
    background: rgb(var(--orange-rgb), 0.1);
}

.art\:hover\:bg\:orange\:20\%:hover {
    /* art:hover:bg:orange:20% */
    background: rgb(var(--orange-rgb), 0.2);
}

.art\:hover\:bg\:orange\:30\%:hover {
    /* art:hover:bg:orange:30% */
    background: rgb(var(--orange-rgb), 0.3);
}

.art\:hover\:bg\:orange\:40\%:hover {
    /* art:hover:bg:orange:40% */
    background: rgb(var(--orange-rgb), 0.4);
}

.art\:hover\:bg\:orange\:50\%:hover {
    /* art:hover:bg:orange:50% */
    background: rgb(var(--orange-rgb), 0.5);
}

.art\:hover\:bg\:red-01:hover {
    /* art:hover:bg:red-01 */
    background: var(--red-01);
}

.art\:hover\:bg\:red-02:hover {
    /* art:hover:bg:red-02 */
    background: var(--red-02);
}

.art\:hover\:bg\:red-03:hover {
    /* art:hover:bg:red-03 */
    background: var(--red-03);
}

.art\:hover\:bg\:red-04:hover {
    /* art:hover:bg:red-04 */
    background: var(--red-04);
}

.art\:hover\:bg\:red\:10\%:hover {
    /* art:hover:bg:red:10% */
    background: rgb(var(--red-rgb), 0.1);
}

.art\:hover\:bg\:red\:20\%:hover {
    /* art:hover:bg:red:20% */
    background: rgb(var(--red-rgb), 0.2);
}

.art\:hover\:bg\:red\:30\%:hover {
    /* art:hover:bg:red:30% */
    background: rgb(var(--red-rgb), 0.3);
}

.art\:hover\:bg\:red\:40\%:hover {
    /* art:hover:bg:red:40% */
    background: rgb(var(--red-rgb), 0.4);
}

.art\:hover\:bg\:red\:50\%:hover {
    /* art:hover:bg:red:50% */
    background: rgb(var(--red-rgb), 0.5);
}

.art\:hover\:bg\:blue-01:hover {
    /* art:hover:bg:blue-01 */
    background: var(--blue-01);
}

.art\:hover\:bg\:blue-02:hover {
    /* art:hover:bg:blue-02 */
    background: var(--blue-02);
}

.art\:hover\:bg\:blue-03:hover {
    /* art:hover:bg:blue-03 */
    background: var(--blue-03);
}

.art\:hover\:bg\:blue-04:hover {
    /* art:hover:bg:blue-04 */
    background: var(--blue-04);
}

.art\:hover\:bg\:blue\:10\%:hover {
    /* art:hover:bg:blue:10% */
    background: rgb(var(--blue-rgb), 0.1);
}

.art\:hover\:bg\:blue\:20\%:hover {
    /* art:hover:bg:blue:20% */
    background: rgb(var(--blue-rgb), 0.2);
}

.art\:hover\:bg\:blue\:30\%:hover {
    /* art:hover:bg:blue:30% */
    background: rgb(var(--blue-rgb), 0.3);
}

.art\:hover\:bg\:blue\:40\%:hover {
    /* art:hover:bg:blue:40% */
    background: rgb(var(--blue-rgb), 0.4);
}

.art\:hover\:bg\:blue\:50\%:hover {
    /* art:hover:bg:blue:50% */
    background: rgb(var(--blue-rgb), 0.5);
}

.art\:hover\:bg\:green-01:hover {
    /* art:hover:bg:green-01 */
    background: var(--green-01);
}

.art\:hover\:bg\:green-02:hover {
    /* art:hover:bg:green-02 */
    background: var(--green-02);
}

.art\:hover\:bg\:green-03:hover {
    /* art:hover:bg:green-03 */
    background: var(--green-03);
}

.art\:hover\:bg\:green-04:hover {
    /* art:hover:bg:green-04 */
    background: var(--green-04);
}

.art\:hover\:bg\:green\:10\%:hover {
    /* art:hover:bg:green:10% */
    background: rgb(var(--green-rgb), 0.1);
}

.art\:hover\:bg\:green\:20\%:hover {
    /* art:hover:bg:green:20% */
    background: rgb(var(--green-rgb), 0.2);
}

.art\:hover\:bg\:green\:30\%:hover {
    /* art:hover:bg:green:30% */
    background: rgb(var(--green-rgb), 0.3);
}

.art\:hover\:bg\:green\:40\%:hover {
    /* art:hover:bg:green:40% */
    background: rgb(var(--green-rgb), 0.4);
}

.art\:hover\:bg\:green\:50\%:hover {
    /* art:hover:bg:green:50% */
    background: rgb(var(--green-rgb), 0.5);
}

.art\:hover\:bg\:purple-01:hover {
    /* art:hover:bg:purple-01 */
    background: var(--purple-01);
}

.art\:hover\:bg\:purple-02:hover {
    /* art:hover:bg:purple-02 */
    background: var(--purple-02);
}

.art\:hover\:bg\:purple-03:hover {
    /* art:hover:bg:purple-03 */
    background: var(--purple-03);
}

.art\:hover\:bg\:purple-04:hover {
    /* art:hover:bg:purple-04 */
    background: var(--purple-04);
}

.art\:hover\:bg\:purple\:10\%:hover {
    /* art:hover:bg:purple:10% */
    background: rgb(var(--purple-rgb), 0.1);
}

.art\:hover\:bg\:purple\:20\%:hover {
    /* art:hover:bg:purple:20% */
    background: rgb(var(--purple-rgb), 0.2);
}

.art\:hover\:bg\:purple\:30\%:hover {
    /* art:hover:bg:purple:30% */
    background: rgb(var(--purple-rgb), 0.3);
}

.art\:hover\:bg\:purple\:40\%:hover {
    /* art:hover:bg:purple:40% */
    background: rgb(var(--purple-rgb), 0.4);
}

.art\:hover\:bg\:purple\:50\%:hover {
    /* art:hover:bg:purple:50% */
    background: rgb(var(--purple-rgb), 0.5);
}
