@layer --bg-color-hover-hover {

    :where(class*="art:hover:bg:"):hover,
    [class*="art:hover:bg:"]:hover {
        --bg-color-hover: transparent;
        background: var(--bg-color-hover);
    }

    .art\:hover\:bg\:none:hover {
        /* art:hover:bg:none */
        --bg-color-hover: transparent;
    }

    .art\:hover\:bg\:black-01:hover {
        /* art:hover:bg:black-01 */
        --bg-color-hover: var(--black-01);
    }

    .art\:hover\:bg\:black-02:hover {
        /* art:hover:bg:black-02 */
        --bg-color-hover: var(--black-02);
    }

    .art\:hover\:bg\:black-03:hover {
        /* art:hover:bg:black-03 */
        --bg-color-hover: var(--black-03);
    }

    .art\:hover\:bg\:black-04:hover {
        /* art:hover:bg:black-04 */
        --bg-color-hover: var(--black-04);
    }

    .art\:hover\:bg\:black\:10\%:hover {
        /* art:hover:bg:black:10% */
        --bg-color-hover: rgb(var(--black-rgb), 0.1);
    }

    .art\:hover\:bg\:black\:20\%:hover {
        /* art:hover:bg:black:20% */
        --bg-color-hover: rgb(var(--black-rgb), 0.2);
    }

    .art\:hover\:bg\:black\:30\%:hover {
        /* art:hover:bg:black:30% */
        --bg-color-hover: rgb(var(--black-rgb), 0.3);
    }

    .art\:hover\:bg\:black\:40\%:hover {
        /* art:hover:bg:black:40% */
        --bg-color-hover: rgb(var(--black-rgb), 0.4);
    }

    .art\:hover\:bg\:black\:50\%:hover {
        /* art:hover:bg:black:50% */
        --bg-color-hover: rgb(var(--black-rgb), 0.5);
    }

    .art\:hover\:bg\:black\:60\%:hover {
        /* art:hover:bg:black:60% */
        --bg-color-hover: rgba(var(--black-rgb), 0.6);
    }

    .art\:hover\:bg\:black\:70\%:hover {
        /* art:hover:bg:black:70% */
        --bg-color-hover: rgba(var(--black-rgb), 0.7);
    }

    .art\:hover\:bg\:black\:80\%:hover {
        /* art:hover:bg:black:80% */
        --bg-color-hover: rgba(var(--black-rgb), 0.8);
    }

    .art\:hover\:bg\:black\:90\%:hover {
        /* art:hover:bg:black:90% */
        --bg-color-hover: rgba(var(--black-rgb), 0.9);
    }

    .art\:hover\:bg\:white-01:hover {
        /* art:hover:bg:white-01 */
        --bg-color-hover: var(--white-01);
    }

    .art\:hover\:bg\:white-02:hover {
        /* art:hover:bg:white-02 */
        --bg-color-hover: var(--white-02);
    }

    .art\:hover\:bg\:white-03:hover {
        /* art:hover:bg:white-03 */
        --bg-color-hover: var(--white-03);
    }

    .art\:hover\:bg\:white-04:hover {
        /* art:hover:bg:white-04 */
        --bg-color-hover: var(--white-04);
    }

    .art\:hover\:bg\:white\:10\%:hover {
        /* art:hover:bg:white:10% */
        --bg-color-hover: rgb(var(--white-rgb), 0.1);
    }

    .art\:hover\:bg\:white\:20\%:hover {
        /* art:hover:bg:white:20% */
        --bg-color-hover: rgb(var(--white-rgb), 0.2);
    }

    .art\:hover\:bg\:white\:30\%:hover {
        /* art:hover:bg:white:30% */
        --bg-color-hover: rgb(var(--white-rgb), 0.3);
    }

    .art\:hover\:bg\:white\:40\%:hover {
        /* art:hover:bg:white:40% */
        --bg-color-hover: rgb(var(--white-rgb), 0.4);
    }

    .art\:hover\:bg\:white\:50\%:hover {
        /* art:hover:bg:white:50% */
        --bg-color-hover: rgb(var(--white-rgb), 0.5);
    }

    .art\:hover\:bg\:white\:60\%:hover {
        /* art:hover:bg:white:60% */
        --bg-color-hover: rgba(var(--white-rgb), 0.6);
    }

    .art\:hover\:bg\:white\:70\%:hover {
        /* art:hover:bg:white:70% */
        --bg-color-hover: rgba(var(--white-rgb), 0.7);
    }

    .art\:hover\:bg\:white\:80\%:hover {
        /* art:hover:bg:white:80% */
        --bg-color-hover: rgba(var(--white-rgb), 0.8);
    }

    .art\:hover\:bg\:white\:90\%:hover {
        /* art:hover:bg:white:90% */
        --bg-color-hover: rgba(var(--white-rgb), 0.9);
    }

    /* Yellow */
    .art\:hover\:bg\:yellow-01:hover {
        /* art:hover:bg:yellow-01 */
        --bg-color-hover: var(--yellow-01);
    }

    .art\:hover\:bg\:yellow-02:hover {
        /* art:hover:bg:yellow-02 */
        --bg-color-hover: var(--yellow-02);
    }

    .art\:hover\:bg\:yellow-03:hover {
        /* art:hover:bg:yellow-03 */
        --bg-color-hover: var(--yellow-03);
    }

    .art\:hover\:bg\:yellow-04:hover {
        /* art:hover:bg:yellow-04 */
        --bg-color-hover: var(--yellow-04);
    }

    .art\:hover\:bg\:yellow\:10\%:hover {
        /* art:hover:bg:yellow:10% */
        --bg-color-hover: rgb(var(--yellow-rgb), 0.1);
    }

    .art\:hover\:bg\:yellow\:20\%:hover {
        /* art:hover:bg:yellow:20% */
        --bg-color-hover: rgb(var(--yellow-rgb), 0.2);
    }

    .art\:hover\:bg\:yellow\:30\%:hover {
        /* art:hover:bg:yellow:30% */
        --bg-color-hover: rgb(var(--yellow-rgb), 0.3);
    }

    .art\:hover\:bg\:yellow\:40\%:hover {
        /* art:hover:bg:yellow:40% */
        --bg-color-hover: rgb(var(--yellow-rgb), 0.4);
    }

    .art\:hover\:bg\:yellow\:50\%:hover {
        /* art:hover:bg:yellow:50% */
        --bg-color-hover: rgb(var(--yellow-rgb), 0.5);
    }

    .art\:hover\:bg\:yellow\:60\%:hover {
        /* art:hover:bg:yellow:60% */
        --bg-color-hover: rgba(var(--yellow-rgb), 0.6);
    }

    .art\:hover\:bg\:yellow\:70\%:hover {
        /* art:hover:bg:yellow:70% */
        --bg-color-hover: rgba(var(--yellow-rgb), 0.7);
    }

    .art\:hover\:bg\:yellow\:80\%:hover {
        /* art:hover:bg:yellow:80% */
        --bg-color-hover: rgba(var(--yellow-rgb), 0.8);
    }

    .art\:hover\:bg\:yellow\:90\%:hover {
        /* art:hover:bg:yellow:90% */
        --bg-color-hover: rgba(var(--yellow-rgb), 0.9);
    }

    .art\:hover\:bg\:orange-01:hover {
        /* art:hover:bg:orange-01 */
        --bg-color-hover: var(--orange-01);
    }

    .art\:hover\:bg\:orange-02:hover {
        /* art:hover:bg:orange-02 */
        --bg-color-hover: var(--orange-02);
    }

    .art\:hover\:bg\:orange-03:hover {
        /* art:hover:bg:orange-03 */
        --bg-color-hover: var(--orange-03);
    }

    .art\:hover\:bg\:orange-04:hover {
        /* art:hover:bg:orange-04 */
        --bg-color-hover: var(--orange-04);
    }

    .art\:hover\:bg\:orange\:10\%:hover {
        /* art:hover:bg:orange:10% */
        --bg-color-hover: rgb(var(--orange-rgb), 0.1);
    }

    .art\:hover\:bg\:orange\:20\%:hover {
        /* art:hover:bg:orange:20% */
        --bg-color-hover: rgb(var(--orange-rgb), 0.2);
    }

    .art\:hover\:bg\:orange\:30\%:hover {
        /* art:hover:bg:orange:30% */
        --bg-color-hover: rgb(var(--orange-rgb), 0.3);
    }

    .art\:hover\:bg\:orange\:40\%:hover {
        /* art:hover:bg:orange:40% */
        --bg-color-hover: rgb(var(--orange-rgb), 0.4);
    }

    .art\:hover\:bg\:orange\:50\%:hover {
        /* art:hover:bg:orange:50% */
        --bg-color-hover: rgb(var(--orange-rgb), 0.5);
    }

    .art\:hover\:bg\:orange\:60\%:hover {
        /* art:hover:bg:orange:60% */
        --bg-color-hover: rgba(var(--orange-rgb), 0.6);
    }

    .art\:hover\:bg\:orange\:70\%:hover {
        /* art:hover:bg:orange:70% */
        --bg-color-hover: rgba(var(--orange-rgb), 0.7);
    }

    .art\:hover\:bg\:orange\:80\%:hover {
        /* art:hover:bg:orange:80% */
        --bg-color-hover: rgba(var(--orange-rgb), 0.8);
    }

    .art\:hover\:bg\:orange\:90\%:hover {
        /* art:hover:bg:orange:90% */
        --bg-color-hover: rgba(var(--orange-rgb), 0.9);
    }


    .art\:hover\:bg\:red-01:hover {
        /* art:hover:bg:red-01 */
        --bg-color-hover: var(--red-01);
    }

    .art\:hover\:bg\:red-02:hover {
        /* art:hover:bg:red-02 */
        --bg-color-hover: var(--red-02);
    }

    .art\:hover\:bg\:red-03:hover {
        /* art:hover:bg:red-03 */
        --bg-color-hover: var(--red-03);
    }

    .art\:hover\:bg\:red-04:hover {
        /* art:hover:bg:red-04 */
        --bg-color-hover: var(--red-04);
    }

    .art\:hover\:bg\:red\:10\%:hover {
        /* art:hover:bg:red:10% */
        --bg-color-hover: rgb(var(--red-rgb), 0.1);
    }

    .art\:hover\:bg\:red\:20\%:hover {
        /* art:hover:bg:red:20% */
        --bg-color-hover: rgb(var(--red-rgb), 0.2);
    }

    .art\:hover\:bg\:red\:30\%:hover {
        /* art:hover:bg:red:30% */
        --bg-color-hover: rgb(var(--red-rgb), 0.3);
    }

    .art\:hover\:bg\:red\:40\%:hover {
        /* art:hover:bg:red:40% */
        --bg-color-hover: rgb(var(--red-rgb), 0.4);
    }

    .art\:hover\:bg\:red\:50\%:hover {
        /* art:hover:bg:red:50% */
        --bg-color-hover: rgb(var(--red-rgb), 0.5);
    }

    .art\:hover\:bg\:red\:60\%:hover {
        /* art:hover:bg:red:60% */
        --bg-color-hover: rgba(var(--red-rgb), 0.6);
    }

    .art\:hover\:bg\:red\:70\%:hover {
        /* art:hover:bg:red:70% */
        --bg-color-hover: rgba(var(--red-rgb), 0.7);
    }

    .art\:hover\:bg\:red\:80\%:hover {
        /* art:hover:bg:red:80% */
        --bg-color-hover: rgba(var(--red-rgb), 0.8);
    }

    .art\:hover\:bg\:red\:90\%:hover {
        /* art:hover:bg:red:90% */
        --bg-color-hover: rgba(var(--red-rgb), 0.9);
    }


    .art\:hover\:bg\:blue-01:hover {
        /* art:hover:bg:blue-01 */
        --bg-color-hover: var(--blue-01);
    }

    .art\:hover\:bg\:blue-02:hover {
        /* art:hover:bg:blue-02 */
        --bg-color-hover: var(--blue-02);
    }

    .art\:hover\:bg\:blue-03:hover {
        /* art:hover:bg:blue-03 */
        --bg-color-hover: var(--blue-03);
    }

    .art\:hover\:bg\:blue-04:hover {
        /* art:hover:bg:blue-04 */
        --bg-color-hover: var(--blue-04);
    }

    .art\:hover\:bg\:blue\:10\%:hover {
        /* art:hover:bg:blue:10% */
        --bg-color-hover: rgb(var(--blue-rgb), 0.1);
    }

    .art\:hover\:bg\:blue\:20\%:hover {
        /* art:hover:bg:blue:20% */
        --bg-color-hover: rgb(var(--blue-rgb), 0.2);
    }

    .art\:hover\:bg\:blue\:30\%:hover {
        /* art:hover:bg:blue:30% */
        --bg-color-hover: rgb(var(--blue-rgb), 0.3);
    }

    .art\:hover\:bg\:blue\:40\%:hover {
        /* art:hover:bg:blue:40% */
        --bg-color-hover: rgb(var(--blue-rgb), 0.4);
    }

    .art\:hover\:bg\:blue\:50\%:hover {
        /* art:hover:bg:blue:50% */
        --bg-color-hover: rgb(var(--blue-rgb), 0.5);
    }

    .art\:hover\:bg\:blue\:60\%:hover {
        /* art:hover:bg:blue:60% */
        --bg-color-hover: rgba(var(--blue-rgb), 0.6);
    }

    .art\:hover\:bg\:blue\:70\%:hover {
        /* art:hover:bg:blue:70% */
        --bg-color-hover: rgba(var(--blue-rgb), 0.7);
    }

    .art\:hover\:bg\:blue\:80\%:hover {
        /* art:hover:bg:blue:80% */
        --bg-color-hover: rgba(var(--blue-rgb), 0.8);
    }

    .art\:hover\:bg\:blue\:90\%:hover {
        /* art:hover:bg:blue:90% */
        --bg-color-hover: rgba(var(--blue-rgb), 0.9);
    }

    .art\:hover\:bg\:green-01:hover {
        /* art:hover:bg:green-01 */
        --bg-color-hover: var(--green-01);
    }

    .art\:hover\:bg\:green-02:hover {
        /* art:hover:bg:green-02 */
        --bg-color-hover: var(--green-02);
    }

    .art\:hover\:bg\:green-03:hover {
        /* art:hover:bg:green-03 */
        --bg-color-hover: var(--green-03);
    }

    .art\:hover\:bg\:green-04:hover {
        /* art:hover:bg:green-04 */
        --bg-color-hover: var(--green-04);
    }

    .art\:hover\:bg\:green\:10\%:hover {
        /* art:hover:bg:green:10% */
        --bg-color-hover: rgb(var(--green-rgb), 0.1);
    }

    .art\:hover\:bg\:green\:20\%:hover {
        /* art:hover:bg:green:20% */
        --bg-color-hover: rgb(var(--green-rgb), 0.2);
    }

    .art\:hover\:bg\:green\:30\%:hover {
        /* art:hover:bg:green:30% */
        --bg-color-hover: rgb(var(--green-rgb), 0.3);
    }

    .art\:hover\:bg\:green\:40\%:hover {
        /* art:hover:bg:green:40% */
        --bg-color-hover: rgb(var(--green-rgb), 0.4);
    }

    .art\:hover\:bg\:green\:50\%:hover {
        /* art:hover:bg:green:50% */
        --bg-color-hover: rgb(var(--green-rgb), 0.5);
    }

    .art\:hover\:bg\:green\:60\%:hover {
        /* art:hover:bg:green:60% */
        --bg-color-hover: rgba(var(--green-rgb), 0.6);
    }

    .art\:hover\:bg\:green\:70\%:hover {
        /* art:hover:bg:green:70% */
        --bg-color-hover: rgba(var(--green-rgb), 0.7);
    }

    .art\:hover\:bg\:green\:80\%:hover {
        /* art:hover:bg:green:80% */
        --bg-color-hover: rgba(var(--green-rgb), 0.8);
    }

    .art\:hover\:bg\:green\:90\%:hover {
        /* art:hover:bg:green:90% */
        --bg-color-hover: rgba(var(--green-rgb), 0.9);
    }

    .art\:hover\:bg\:purple-01:hover {
        /* art:hover:bg:purple-01 */
        --bg-color-hover: var(--purple-01);
    }

    .art\:hover\:bg\:purple-02:hover {
        /* art:hover:bg:purple-02 */
        --bg-color-hover: var(--purple-02);
    }

    .art\:hover\:bg\:purple-03:hover {
        /* art:hover:bg:purple-03 */
        --bg-color-hover: var(--purple-03);
    }

    .art\:hover\:bg\:purple-04:hover {
        /* art:hover:bg:purple-04 */
        --bg-color-hover: var(--purple-04);
    }

    .art\:hover\:bg\:purple\:10\%:hover {
        /* art:hover:bg:purple:10% */
        --bg-color-hover: rgb(var(--purple-rgb), 0.1);
    }

    .art\:hover\:bg\:purple\:20\%:hover {
        /* art:hover:bg:purple:20% */
        --bg-color-hover: rgb(var(--purple-rgb), 0.2);
    }

    .art\:hover\:bg\:purple\:30\%:hover {
        /* art:hover:bg:purple:30% */
        --bg-color-hover: rgb(var(--purple-rgb), 0.3);
    }

    .art\:hover\:bg\:purple\:40\%:hover {
        /* art:hover:bg:purple:40% */
        --bg-color-hover: rgb(var(--purple-rgb), 0.4);
    }

    .art\:hover\:bg\:purple\:50\%:hover {
        /* art:hover:bg:purple:50% */
        --bg-color-hover: rgb(var(--purple-rgb), 0.5);
    }

    .art\:hover\:bg\:purple\:60\%:hover {
        /* art:hover:bg:purple:60% */
        --bg-color-hover: rgba(var(--purple-rgb), 0.6);
    }

    .art\:hover\:bg\:purple\:70\%:hover {
        /* art:hover:bg:purple:70% */
        --bg-color-hover: rgba(var(--purple-rgb), 0.7);
    }

    .art\:hover\:bg\:purple\:80\%:hover {
        /* art:hover:bg:purple:80% */
        --bg-color-hover: rgba(var(--purple-rgb), 0.8);
    }

    .art\:hover\:bg\:purple\:90\%:hover {
        /* art:hover:bg:purple:90% */
        --bg-color-hover: rgba(var(--purple-rgb), 0.9);
    }
}
