/* ------------------------------------- buttons: ------------------------------------- */
.art\:btn\:no-style {
    /* art:btn:no-style */
    width: fit-content;
    height: fit-content;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.art-btn\:small {
    /*  */
    cursor: pointer;
}

.art-btn\:medium {
    /*  */
    cursor: pointer;
}