button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.art-btn\:small {

    cursor: pointer;
}

.art-btn\:medium {

    cursor: pointer;
}
