@layer no-dark-color {
    /* art:font:!black-01 */
    .art\:font\:\!black-01 {
        --font-color: var(--fix-black-01);
    }

    /* art:!font:black-02 */
    .art\:font\:\!black-02 {
        --font-color: var(--fix-black-02);
    }

    /* art:!font:black-03 */
    .art\:font\:\!black-03 {
        --font-color: var(--fix-black-03);
    }

    /* art:!font:black-04 */
    .art\:font\:\!black-04 {

        --font-color: var(--fix-black-04);
    }

    /* art:!font:white-01 */
    .art\:font\:\!white-01 {
        --font-color: var(--fix-white-01);
    }

    /* art:!font:white-02 */
    .art\:font\:\!white-02 {
        --font-color: var(--fix-white-02);
    }

    /* art:!font:white-03 */
    .art\:font\:\!white-03 {

        --font-color: var(--fix-white-03);
    }

    /* art:!font:white-04 */
    .art\:font\:\!white-04 {
        --font-color: var(--fix-white-04);
    }

    /* art::font:!black-01 */
    .art\:\:font\:\!black-01:hover {
        --font-color: var(--fix-black-01);
    }

    /* art::font:!black-02 */
    .art\:\:font\:\!black-02:hover {
        --font-color: var(--fix-black-02);
    }

    /* art::font:!black-03 */
    .art\:\:font\:\!black-03:hover {
        --font-color: var(--fix-black-03);
    }

    /* art::font:!black-04 */
    .art\:\:font\:\!black-04:hover {
        --font-color: var(--fix-black-04);
    }

    /* art::font:!white-01 */
    .art\:\:font\:\!white-01:hover {
        --font-color: var(--fix-white-01);
    }

    /* art::font:!white-02 */
    .art\:\:font\:\!white-02:hover {
        --font-color: var(--fix-white-02);
    }

    /* art::font:!white-03 */
    .art\:\:font\:\!white-03:hover {
        --font-color: var(--fix-white-03);
    }

    /* art::font:!white-04 */
    .art\:\:font\:\!white-04:hover {
        --font-color: var(--fix-white-04);
    }
}
