@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    --black-01: #000000;
    --black-02: #131416;
    --black-03: #333333;
    --black-04: #666666;

    --fix-black-01: #000000;
    --fix-black-02: #131416;
    --fix-black-03: #4A4B4D;
    --fix-black-04: #666666;

    --black-rgb: 0, 0, 0;

    --white-01: #FFFFFF;
    --white-02: #F6F5F4;
    --white-03: #CCCCCC;
    --white-04: #999999;

    --white-rgb: 255, 255, 255;

    --fix-white-01: #FFFFFF;
    --fix-white-02: #F6F5F4;
    --fix-white-03: #CCCCCC;
    --fix-white-04: #999999;

    --yellow-01: #FFBD08;
    --yellow-02: #FFCA39;
    --yellow-03: #FFD76B;
    --yellow-04: #FFE59C;

    --yellow-rgb: 255, 189, 8;

    --orange-01: #FF7800;
    --orange-02: #FF9333;
    --orange-03: #FFAE66;
    --orange-04: #FFC999;

    --orange-rgb: 255, 120, 0;

    --red-01: #F60000;
    --red-02: #F83333;
    --red-03: #FA6666;
    --red-04: #FB9999;

    --red-rgb: 246, 0, 0;

    --blue-01: #174AE4;
    --blue-02: #456EE9;
    --blue-03: #7492EF;
    --blue-04: #A2B7F4;

    --blue-rgb: 23, 74, 228;

    --green-01: #33D17A;
    --green-02: #5CDA95;
    --green-03: #85E3AF;
    --green-04: #ADEDCA;

    --green-rgb: 51, 209, 122;

    --purple-01: #AA21FF;
    --purple-02: #BB4DFF;
    --purple-03: #CC7AFF;
    --purple-04: #DDA6FF;

    --purple-rgb: 170, 33, 255;

    --thin: 0.1rem;
    --sm: 0.5rem;
    --base: 1rem;
    --lg: 1.5rem;
    --xl: 2rem;
    --_2xl: 2.5rem;
    --_3xl: 3rem;
    --_4xl: 3.5rem;
    --_5xl: 4rem;

    --instant: 0.1s;
    --quick: 0.25s;
    --smooth: 0.4s;
    --relaxed: 0.6s;
    --slow: 1s;

    --scrollbar-width: none;

    --bg-color: transparent;

    --border-width: none;
    --border-top-style:none;
    --border-left-style:none;
    --border-right-style:none;
    --border-bottom-style:none;
    --border-color: black;
    --border-radius: 0;
    --border-collapse-default: separate;
    --border-spacing-default: 0;

    --font-size: var(--base);
    --font-color: var(--black-01);
    /*--font-family: Open Sans, sans-serif;*/
    --font-style: normal;
    --font-weight: normal;
    --line-height: normal;
    --letter-spacing: normal;
    --txt-transform: none;
    --txt-decoration: none;

    --padding-top: 0;
    --padding-right: 0;
    --padding-left: 0;
    --padding-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --white-01: #000000;
        --white-02: #131416;
        --white-03: #333333;
        --white-04: #666666;

        --white-rgb: 0, 0, 0;

        --black-01: #FFFFFF;
        --black-02: #F6F5F4;
        --black-03: #CCCCCC;
        --black-04: #999999;

        --black-rgb: 255, 255, 255;
    }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /*scrollbar-width: thin;*/
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}


:where([class*="art:bg:"], [class*="art:hover:bg:"]) {
    /* --bg-color: transparent; */
    background: var(--bg-color);
}

:where([class*="art:border"], [class*="art:hover:border"]),[class*="art:border"], [class*="art:hover:border"] {

    border-width: var(--border-width);

    border-top-style: var(--border-top-style);
    border-left-style: var(--border-left-style);
    border-right-style: var(--border-right-style);
    border-bottom-style: var(--border-bottom-style);
    border-color: var(--border-color);

    border-collapse: var(--border-collapse-default);
    border-spacing: var(--border-spacing-default);
}

:where([class*="art:font:"], [class*="art:hover:font:"]),
[class*="art:font:"],
[class*="art:hover:font:"] {
    font-size: var(--font-size);
    color: var(--font-color);
    /*font-family: var(--font-family);*/
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--txt-transform);
    text-decoration: var(--txt-decoration);
}

:where([class*="art:p:"], [class*="art:hover:p:"]),
[class*="art:p:"],
[class*="art:hover:p:"] {
    padding-top: var(--padding-top);
    padding-right: var(--padding-right);
    padding-left: var(--padding-left);
    padding-bottom: var(--padding-bottom);
}